pid = /var/run/stunnel-redis.pid

[redis-server]
cert = /etc/stunnel/redis-server.crt
key = /etc/stunnel/redis-server.key
accept = {{ hostvars[ansible_nodename ]['ansible_default_ipv4']['address'] }}:6379
connect = 127.0.0.1:6379

{% for host in groups['ndeploymaster'] %}
[redis-client{{ loop.index }}]
client = yes
accept = 127.0.0.1:960{{ loop.index }}
connect = {{ hostvars[host]['mainip'] }}:6379
CAfile = /etc/stunnel/redis-server.crt
verify = 4
{% endfor %}

{% for host in groups['ndeployslaves'] %}
{% if host != ansible_nodename %}
[redis-client{{ loop.index }}]
client = yes
accept = 127.0.0.1:950{{ loop.index }}
connect = {{ hostvars[host]['mainip'] }}:6379
CAfile = /etc/stunnel/redis-server.crt
verify = 4
{% endif %}
{% endfor %}
