// main: styles.scss

//
// Colors
// ----------------------------------------------------------------------------------------------------

$porcelain:			#F1F1F8 !default;
$tory-blue: 		#354987 !default;
$ultramarine-blue:	#25AAE1 !default;
$black-pearl:		#1F2230 !default;
$midnight-express:	#232938 !default;
$port-gore:			#3D4366 !default;
$gray-light:		#777777 !default;
$gray-lighter:		#EEEEEE !default;
$disabled:			#E9ECEF !default;
$disabled-border:	#CED4DA !default;
$bg-dark:			#343A40 !default;

$white:				#FFFFFF !default;
$black:				#151717 !default;
$green:				#1E7E34 !default;

$border:			1px solid rgba(0,0,0,.125);
$border-dark:		1px solid rgba(255,255,255,.125);
$bg-dark-color:		rgba(0,0,0,.125);
$bg-dark2-color:	rgba(255,255,255,.125);
$bg-light-color:	rgba(0,0,0,.03);

//
// Icons
// ----------------------------------------------------------------------------------------------------

$icon-info: "\f059";
$icon-success: "\f058";
$icon-error: "\f057";
$icon-warning: "\f0eb";

//
// Theming
// ----------------------------------------------------------------------------------------------------

$bodydark:			#1C1E1F !default;
$bodylight:			#F1F1F8 !default;
$cardlightback:		#F8F9FA !default;
$cardlighthead:		#F0F1F2 !default;
$carddarkback:		#343A40 !default;
$carddarkhead:		#32383E !default;

.ndeploy-theme-dark {
	background-color: $bodydark;
	#main-header {
		background-color: darken($bodydark, 1.5%);
		.logo h4 {
			color: $white;
		}
	}
	/*button.close {
	    color: $white;
	}*/
	.card {
		.card-header,
		.card-footer {
			background-color: $bg-dark-color;
		}
	}
	.no-gutters {
		.btn {
			color: $white;
			background-color: transparent;
			&:hover,
			&:active,
			&:focus {
				color: $white !important;
			}
		}
		.alert.text-secondary {
			color: $gray-light !important;
		}
	}
	#dashboard {
		.btn {
			color: $white;
			background-color: $bg-dark-color;
			&:hover {
				background-color: $primary;
			}
		}
	}
	.nav-pills,
	.nav-tabs {
		color: $white;
		.nav-link {
			color: $white;
			.active {
				color: $white;
			}
			&.active {
				background-color: $carddarkback;
			}
		}
	}
	.nav-tabs {
		border-bottom: $border-dark;
		.nav-link {
			background-color: $bg-dark2-color;
			border: $border-dark;
			&.active {
				border-bottom-color: $carddarkback;
			}
		}
	}
	.accordion {
		.card {
			border: $border-dark;
			background-color: $carddarkback;
			.card-header {
				.btn {
					color: $white;
				}
			}
		}
	}
	.input-group {
		.input-group-prepend {
			.input-group-text {
				color: $white;
				background-color: $bg-dark2-color;
				border: $border-dark;
			}
		}
		.form-control,
		.custom-select {
			background-color: $carddarkback;
			border: $border-dark;
			color: $white;
		}
		.custom-select {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
		}
	}
	.nav {
		.dropdown-menu {
			background-color: $carddarkback;
			a {
				color: $white;
			}
			.dropdown-item {
				&:hover {
					background-color: $gray-700;
				}
			}
		}
	}
}

.ndeploy-theme-light {
	background-color: $bodylight;
	#main-header {
		background-color: $white;
	}
	button.close {
	    color: $black;
	}
	.no-gutters {
		.btn {
			color: $black;
			background-color: transparent;
		}
	}
	#dashboard {
		.btn {
			color: $black;
			background-color: $bg-light-color;
			&:hover {
				background-color: $primary;
				color: $white;
			}
		}
	}
	.bg-light {
		background-color: $white !important;
	}
	.nav-pills {
		.nav-link {
			color: $black;
			.active {
				color: $black;
			}
		}
	}
	#v-pills-tabContent {
		.dropdown-menu {
			.dropdown-item {
				cursor: pointer;
			}
		}
	}
	.accordion {
		.card {
			.card-header {
				.btn {
					color: $black;
				}
			}
		}
	}
}

//
// General
// ----------------------------------------------------------------------------------------------------

body {
	background-color: $porcelain;
	color: $port-gore;
	font-family: 'Poppins', sans-serif;
}

#main-container {
	padding-bottom: 20rem;
	&.modal-minimized {
		padding-bottom: 3rem;
	}
}

#main-header {
	background-color: $white;
	padding: .5rem 1rem;
	h4 {
		margin: 0;
	}
	img {
		position: relative;
		max-height: 55px;
	}
	.logo {
		display: inline-block;
		img {
			position: relative;
			top: -1px;
			margin-right: .5rem;
		}
	}
	.help {
		position: relative;
		z-index: 1;
		.fas {
			margin-left: .3rem;
			position: relative;
			top: 1px;
		}
	}
}

.breadcrumb {
	background-color: transparent;
	padding: 1.5rem 0 1.2rem;
	margin: 0;
	.fas {
		margin-right: 5px;
	}
}

.card {
	margin-bottom: 2rem;
	.card-body {
		.no-gutters {
			.alert {
				border-radius: 0;
				margin: 0;
				width: 100%;
				border-color: $border;
				border-left: none;
				padding-left: 1.25rem;
				padding-right: 1.25rem;
				[class*='fa'] {
					margin-right: .15rem;
					text-align: left;
				}
				&.text-info,
				&.text-success,
				&.text-danger,
				&.text-secondary {
					border-right: none;
					border-left: none;
					text-align: center;
					[class*='fa'] {
						position: relative;
						top: 1px;
						line-height: 1.3rem;
					}
				}
				&.text-info {
					&:last-child {
						border-top: $border;
					}
				}
				&.btn {
					margin-top: 0;
					&:hover,
					&:active,
					&:focus {
						background-color: $ultramarine-blue;
						border-color: $ultramarine-blue;
						color: $white;
					}
				}
			}
			&.row-2-col {
				[class*='col-'] {
					border-bottom: $border;
				}
				.btn-block {
					text-align: left;
				}
			}
			&.row {
				[class*='col-'] {
					> .row {
						[class*='col-'] {
							text-align: center;
							border: none;
							&:first-child {
								border-right: $border;
							}
							.btn-info {
								border-color: transparent;
								&:hover,
								&:active,
								&:focus {
									background-color: $ultramarine-blue;
									border-color: $ultramarine-blue;
									color: $white;
								}
							}
						}
					}
					&.text-info,
					&.text-success,
					&.text-danger,
					&.text-secondary {
						text-align: center;
					}
				}
			}
			&.row-1 {
				[class*='col-'] {
					border-top: none;
					border-bottom: $border;
					> .row {
						[class*='col-'] {
							border: none;
						}
					}
				}
			}
			&.row-3-col {
				h4 {
					[class*='fa'] {
						font-size: 1.2rem;
						position: relative;
						top: -2px;
						margin-right: .2rem;
					}
				}
			}
			&.row-multi {
				[class*='col-'] {
					border-bottom: none;
					&:nth-last-child(-n+2) {
						border-bottom: $border;
					}
					&.text-success {
						border-top: $border;
					}
					&:nth-child(-n+2) {
						border-top: none;
					}
				}
			}
			&.row-no-btm {
				[class*='col-'] {
					&:nth-child(-n+2) {
						border-top: none;
					}
					&:nth-last-child(-n+2) {
						border-top: none;
						border-bottom: none;
					}
				}
			}
			.btn-block {
				padding: .83rem .8rem .83rem 1.25rem;
				border: none;
				border-radius: 0;
				&:hover,
				&:active,
				&:focus {
					background-color: $ultramarine-blue;
					color: $white;
				}
				&.text-info {
					border-top: $border;
				}
			}
			.btn-icon,
			.alert {
				[class*='fa'] {
					min-width: 1.5rem;
					text-align: center;
				}
			}
		}
		.form {
			margin-bottom: 0;
			.btn {
				&.btn-info {
					display: block;
					margin-top: 0;
					width: 100%;
				}
			}
			> .input-group {
				margin-bottom: 1rem;
			}
		}
		samp {
			display: block;
			margin-top: 1.5rem;
		}
		.row {
			&.row-btn-group-toggle {
				.col-md-6,
				> .d-flex {
					margin: .5rem 0;
				}
			}
		}
		&.last > form:last-child > .input-group {
			margin: 0 !important;
		}
		.text-info.p-0 {
			.btn {
				display: block;
			}
		}
	}
}

.accordion {
	@extend .mb-4;
	@extend .pb-4;
	border-bottom: $border-dark;
	.card-header {
		padding: .25rem .55rem;
		.btn {
			display: block;
			width: 100%;
			text-align: left;
		}
	}
	&:last-child {
		@extend .mb-0;
		@extend .pb-0;
		border: none;
	}
}

.tab-pane {
	.form {
		&:last-child {
			.btn {
				@extend .mb-0;
			}
		}
	}
}

//
// Typography
// ----------------------------------------------------------------------------------------------------

a {
	text-decoration: none !important;
}

.btn-outline-primary,
.btn-outline-default {
	border-color: $ultramarine-blue;
	color: $ultramarine-blue;
	&:hover,
	&:active,
	&:focus {
		background-color: darken($ultramarine-blue, 5%);
		border-color: darken($ultramarine-blue, 5%);
		color: $white;
	}
}

.nav-pills {
	.nav-link {
		cursor: pointer;
		&.active {
			background-color: $secondary;
		}
	}
}

#v-pills-tabContent {
	.dropdown-menu {
		.dropdown-item {
			cursor: pointer;
		}
	}
}

.btn-group {
	.btn {
		margin-top: 0;
		cursor: pointer;
	}
}

.input-group-prepend-min {
	.input-group-text {
		min-width: 11rem;
	}
}

.input-group-inline {
	width: inherit;
	float: left;
	margin: 0 1rem 1rem 0;
}

.btn-light {
	background-color: $disabled;
	border-color: $disabled-border;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
	background-color: $ultramarine-blue;
	border-color: $ultramarine-blue;
	color: $white;
}

.input-group-append {
	> form {
		display: inherit;
	}
	.toastForm9-wrap {
		margin-left: -1px !important;
		.btn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.input-group-inline {
	.input-group-append {
		margin-left: 0;
		.form {
			&:not(:only-child):first-child {
				.btn {
					border-radius: 0;
				}
			}
			&:not(:only-child):last-child {
				.btn {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					margin-left: -1px;
				}
			}
			&:only-child {
				.btn {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					margin-left: 1px;
				}
			}
		}
	}
}

.btn-ajax,
.btn-ajax-slow {
	.spinner-grow {
		position: relative;
		top: -0.2rem;
		margin-right: 0.5rem;
	}
}

h6.label-default {
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 2rem;
	&:first-child {
		margin-top: 1rem;
	}
}

kbd {
	position: relative;
	top: -1px;
}

#dashboard {
	.form {
		margin-bottom: 0;
	}
	.btn {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border: none;
		border-top: $border;
	}
	.btn-group {
		.btn {
			&:first-child {
				border-bottom-right-radius: 0;
				border-right: 1px solid rgba(0,0,0,0.125);
			}
			&:last-child {
				border-bottom-left-radius: 0;
			}
		}
	}
}

//
// Terminal
// ----------------------------------------------------------------------------------------------------

#terminal {
	display: block;
	position: fixed;
	top: auto;
    right: 0;
    bottom: 0;
    left: 0;
	height: inherit;
    z-index: 1030;
	.modal-dialog {
		max-width: 100%;
		margin: 0;
		.modal-content {
			.modal-header {
				padding: .45rem 1.25rem;
				border: none;
				.close {
					outline: none;
					padding: .75rem;
					.fa {
						font-size: .9rem;
					}
				}
				h4 {
					font-size: .9rem;
				}
			}
			.modal-body {
				white-space: pre-line;
			    text-align: left;
			    list-style-type: none;
			    background-color: $black;
			    color: $green;
			    overflow-y: auto;
			    overflow-x: auto;
			    padding: 1rem;
			    border: 1px solid $green;
			    font-family: monospace;
				height: 15rem;
			}
		}
	}
}

.modal-min {
	width: 20rem;
	overflow: hidden !important;
	@extend .p-0;
	@extend .m-0;
	float: left;
	z-index: 9999;
	.modal-header {
		height: 100%;
		width: 100%;
		@extend .m-0;
		padding: .45rem .6rem !important;
	}
	.modal-dialog,
	.modal-content {
		width: 100%;
		@extend .p-0;
		@extend .m-0;
		.modal-body {
			display: none;
		}
	}
	.fa {
		font-size: .9rem;
		margin-right: .2rem;
	}
}

//
// Misc
// ----------------------------------------------------------------------------------------------------

.hidden {
	display: none;
}

.dont-break-out {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.flex-row {
	div,
	form {
		display: grid;
	}
}

.alert {
	p {
		@extend .dont-break-out;
	}
}

.invalid-tooltip {
	font-size: .675rem;
}

#loader {
	vertical-align: middle;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0px;
	bottom: 0px;
	left: 0px;
	position: fixed;
	z-index: 10000;
	text-align: center;
	background-color: rgba(0,0,0,.5);
	> .fas {
		font-size: 5rem;
		color: $white;
		position: relative;
		top: 50%;
		transform: perspective(1px) translateY(-50%);
	}
}

.modal {
	.modal-body {
		text-align: center;
		max-height: calc(100vh - 200px);
		overflow-y: auto;
		overflow-x: auto;
		p:last-child {
			margin-bottom: 0;
		}
		.fa-thumbs-up,
		.fa-exclamation {
			font-size: 6rem;
			display: block;
			text-align: center;
			margin: 0.6rem 0 2rem 0;
		}
		.shelloutput {
            text-align: left;
            list-style-type: none;
            background-color: $black;
            color: $green;
            overflow-y: auto;
            overflow-x: auto;
            padding: 1rem;
            border: 1px solid $green;
        }
	}
	.modal-dialog {
        overflow-y: initial !important
    }
    .modal-header {
        padding: .75rem 1.25rem;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .modal-footer {
        padding: .75rem 1.25rem;
        background-color: rgba(0,0,0,.03);
        border-top: 1px solid rgba(0,0,0,.125);
    }

}

.fa-external-link-alt {
	margin-left: .2rem;
	font-size: .8rem;
	position: relative;
	top: -1px;
}

.spinner-border {
	position: relative;
	top: -4px;
	left: -2px;
}
