[ndeployslaves]
slave1.example.com ansible_port=22 server_id=2 webserver=nginx mainip=x.x.x.x dbip=x.x.x.x mariadb=10.2 dns=geodns mx=postfix

[ndeploymaster]
master.example.com ansible_port=22 ansible_connection=local server_id=1 webserver=nginx mainip=y.y.y.y dbip=y.y.y.y mariadb=10.2 dns=geodns mx=postfix

[ndeploydbslave]
slave1.example.com ansible_port=22 server_id=2 webserver=nginx mainip=x.x.x.x dbip=x.x.x.x mariadb=10.2 dns=geodns mx=postfix
