[ndeployslaves]
slave1.example.com ansible_port=22 mainip=x.x.x.x server_id=2 dbip=x.x.x.x dbmode=rwsplit dns=geodns latitude="aaa.aaa" longitude="-bb.bb" repo=ndeploy

[ndeploymaster]
master.example.com ansible_port=22 ansible_connection=local mainip=y.y.y.y server_id=1 dbip=y.y.y.y dbmode=readconnroute dns=geodns latitude="aaa.aaa" longitude="-bb.bb" repo=ndeploy

[ndeploydbslave]
slave1.example.com ansible_port=22 mainip=x.x.x.x server_id=2 dbip=x.x.x.x dbmode=rwsplit dns=geodns latitude="aaa.aaa" longitude="-bb.bb" repo=ndeploy
