[maxscale]
threads=1

#master
[server1]
type=server
address={{ hostvars[groups['ndeploydbslave'][0]]['ansible_default_ipv4']['address'] }}
protocol=MySQLBackend
ssl=required
ssl_version=TLSv10
ssl_ca_cert=/etc/mysql-ssl/ca-cert.pem
ssl_cert=/etc/mysql-ssl/client-cert.pem
ssl_key=/etc/mysql-ssl/client-key.pem
enable_root_user=1
#localhost_match_wildcard_host=1
serv_weight=0

#slave
[server2]
type=server
address={{ hostvars[groups['ndeploymaster'][0]]['ansible_default_ipv4']['address'] }}
port=13306
protocol=MySQLBackend
ssl=required
ssl_version=TLSv10
ssl_ca_cert=/etc/mysql-ssl/ca-cert.pem
ssl_cert=/etc/mysql-ssl/client-cert.pem
ssl_key=/etc/mysql-ssl/client-key.pem
enable_root_user=1
serv_weight=1

[MySQL Monitor]
type=monitor
module=mmmon
servers=server2,server1
user=maxscale
passwd={{ MAXSCALEPASS }}
monitor_interval=10000

[XtendWeb]
type=service
router=readconnroute
servers=server2,server1
user=maxscale
passwd={{ MAXSCALEPASS }}
weightby=serv_weight

[MaxAdmin Service]
type=service
router=cli

[Read-Write Listener]
type=listener
service=XtendWeb
protocol=MySQLClient
address=localhost
port=3306
socket=/tmp/maxscale_mysql.sock

[MaxAdmin Listener]
type=listener
service=MaxAdmin Service
protocol=maxscaled
socket=default
