server {

  listen    CPANELIP:80;
  #CPIPVSIX:80;

  # ServerNames
  server_name  DOMAINLIST;
  access_log /usr/local/apache/domlogs/DOMAINNAME main;
  access_log /usr/local/apache/domlogs/DOMAINNAME-bytes_log bytes_log;

  client_body_timeout 10s;
  client_header_timeout 10s;

  include /etc/nginx/sites-enabled/DOMAINNAME.include;

 }
