settings {
logfile = "/var/log/lsyncd.log",
statusFile = "/var/log/lsyncd.status",
maxDelays = 15,
}
{% for host in groups['ndeploymaster'] %}
u{{ host | checksum }} = {
maxProcesses = 1,
delay = 15,
onAttrib = "ssh -p {{ hostvars[host]['ansible_port'] }} root@{{ host }} /usr/bin/touch /home/{{ ansible_nodename }}",
onCreate = "ssh -p {{ hostvars[host]['ansible_port'] }} root@{{ host }} /usr/bin/touch /home/{{ ansible_nodename }}",
onDelete = "ssh -p {{ hostvars[host]['ansible_port'] }} root@{{ host }} /usr/bin/touch /home/{{ ansible_nodename }}",
onModify = "ssh -p {{ hostvars[host]['ansible_port'] }} root@{{ host }} /usr/bin/touch /home/{{ ansible_nodename }}",
onMove = "ssh -p {{ hostvars[host]['ansible_port'] }} root@{{ host }} /usr/bin/touch /home/{{ ansible_nodename }}",
exitcodes = {[0] = "ok", [1] = "ok", [2] = "ok", [3] = "ok"}
}
sync{% raw %}{{% endraw %}u{{ host | checksum }}, source="/home"}
{% endfor %}
