hhvm.mysql.socket = /tmp/maxscale_mysql.sock
pdo_mysql.default_socket = /tmp/maxscale_mysql.sock
mysqli.default_socket = /tmp/maxscale_mysql.sock
session.save_handler = redis
session.save_path = tcp://127.0.0.1:7000?database=2

; Redis session for HHVM currently does not work as PHP
; Redis session store backend
; session.save_handler = redis
; session.save_path = "{% for host in groups['ndeployslaves'] %}{% if host != ansible_nodename %}tcp://127.0.0.1:950{{ loop.index }}?database=2&timeout=3,{% endif %}{% endfor %}{% for host in groups['ndeploymaster'] %}tcp://127.0.0.1:960{{ loop.index }}?database=2&timeout=3,{% endfor %}tcp://127.0.0.1:6379?database=2&timeout=3"
