[Unit]
Description=Apache web server managed by cPanel EasyApache
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/usr/sbin/apachectl start
ExecStop=/usr/sbin/apachectl stop
ExecReload=/usr/sbin/apachectl graceful
PIDFile=/run/apache2/httpd.pid
KillSignal=SIGCONT
PrivateTmp=true

[Install]
WantedBy=multi-user.target
