
service_types => {
  xtendweb => { plugin => http_status, vhost => xtendweb.status, url_path => "/nginx_status" }
}
plugins => {
  geoip => {
    maps => {
      auto_map => {
        geoip2_db = GeoLite2-City.mmdb,
        datacenters => [{% for host in groups['ndeploymaster'] %}{{ hostvars[host]['ansible_hostname'] }}{% endfor %}{% for host in groups['ndeployslaves'] %}, {{ hostvars[host]['ansible_hostname'] }}{% endfor %}],
        auto_dc_coords => {
          {% for host in groups['ndeploymaster'] %}{{ hostvars[host]['ansible_hostname'] }} => [ {{ hostvars[host]['latitude'] }}, {{ hostvars[host]['longitude'] }} ],
          {% endfor %}
          {% for host in groups['ndeployslaves'] %}{{ hostvars[host]['ansible_hostname'] }} => [ {{ hostvars[host]['latitude'] }}, {{ hostvars[host]['longitude'] }} ],
          {% endfor %}
        },
        # only fail through the nearest 2 before giving up:
        auto_dc_limit => {{ ansible_play_hosts | length }},
      }
    },
    resources => {
      ip0 => {
        map => auto_map,
        service_types => [ xtendweb ],
        dcmap => {
          {% for host in groups['ndeploymaster'] %}{{ hostvars[host]['ansible_hostname'] }} => {{ hostvars[host]['mainip'] }},
          {% endfor %}
          {% for host in groups['ndeployslaves'] %}{{ hostvars[host]['ansible_hostname'] }} => {{ hostvars[host]['mainip'] }},
          {% endfor %}
        }
      },
      $include{geoip_resources}
    }
  },
  metafo => {
    resources => {
      ip0 => {
        datacenters => [ real ],
        dcmap => {
          real => %geoip!ip0
        }
      },
      $include{metafo_resources}
    }
  }
}
