#PAGESPEED_NOT_ENABLED;
#Proxy Pass to a backend webserver listening on port 8000

include /etc/nginx/testcookie/testcookie_aes_locations.conf;

# proxy_redirect off;

location / {
	testcookie on;
	
	limit_req zone=rate_10 burst=25;
	proxy_pass http://PROXYLOCATION;
}
location ~* ^.+\.(jpg|jpeg|gif|png|ico|css|js|zip|tgz|gz|rar|bz2|doc|xls|exe|pdf|ppt|txt|tar|bmp|rtf|swf)$ {
	testcookie off;
	root    DOCUMENTROOT;
	
	expires 1d;
	
	# access_log /usr/local/apache/domlogs/DOMAINNAME main;
	# add_header X-Server "by nginx";
	error_page 404 = @fallback;
	access_log off;
}
location @fallback {
	testcookie on;
	
	limit_req zone=rate_10 burst=25;
	proxy_pass http://PROXYLOCATION;
}