#Proxy to CFML server
index  index.cfm index.html index.htm;
root {{ DOCUMENTROOT }};

#Proxy Pass to a lucee appServer listening on port 8888
location / {
try_files $uri $uri/ /index.cfm;
}

location ~* /lucee/admin/ {
proxy_pass      http://{{ APPSERVERIP }}:{{ UPSTREAM_PORT }};
}


location ~ \.(cfm|cfml|cfc|jsp|cfr)(.*)$ {
proxy_pass http://{{ APPSERVERIP }}:{{ UPSTREAM_PORT }};
}


# Proxy PHP files to httpd
location ~ \.php$ {
access_log  off;
{% if SSL_OFFLOAD == 'enabled' %}
proxy_pass   http://{{ APPSERVERIP }}:9999;
{% else %}
proxy_pass   $scheme://{{ APPSERVERIP }}:$cpport;
{% endif %}
}
