#PAGESPEED_NOT_ENABLED;
#Proxy Pass to a backend webserver
#proxy_cache enabled
location / {
    access_log  off;
    #NAXSI_INCLUDE_FILE;
    #NAXSI_DOMAIN_WHITELISTS;

 	proxy_send_timeout   90;
   	proxy_read_timeout   90;

   	proxy_buffer_size    32k;
   	proxy_buffers     16 32k;
   	proxy_busy_buffers_size 64k;
   	proxy_temp_file_write_size 64k;

   	proxy_connect_timeout 30s;

   	proxy_pass   http://PROXYLOCATION;
   	proxy_set_header   Host   $host;
   	proxy_set_header   X-Real-IP  $remote_addr;
   	proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto $scheme;
    proxy_redirect     off;
    proxy_cache            PROXYCACHE;
    proxy_cache_valid      200  1d;
    proxy_cache_use_stale  error timeout invalid_header updating http_500 http_502 http_503 http_504;
    proxy_set_header   Proxy "";
  }
  location /NaxsiRequestDenied {
         return 418;
     }
