# Subdirectory proxy to cPanel Apache httpd service and cache the content in proxycache

access_log  off;
{% if SSL_OFFLOAD == 'enabled' %}
proxy_pass   http://{{ APPSERVERIP }}:9999;
{% else %}
proxy_pass   $scheme://{{ APPSERVERIP }}:$cpport;
{% endif %}
proxy_cache            PROXYCACHE;
proxy_cache_valid      200  1d;
proxy_cache_use_stale  error timeout invalid_header updating http_500 http_502 http_503 http_504;
