# Subdirectory proxy to cPanel Apache httpd service and cache the content in proxycache

access_log  off;

proxy_send_timeout   300;
proxy_read_timeout   300;
proxy_connect_timeout 30s;

{% if SSL_OFFLOAD == 'enabled' %}
proxy_pass   http://{{ APPSERVERIP }}:9999;
{% else %}
proxy_pass   $scheme://{{ APPSERVERIP }}:$cpport;
proxy_ssl_session_reuse on;
proxy_ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
proxy_ssl_ciphers   HIGH:!aNULL:!MD5;
{% endif %}
proxy_http_version 1.1;
proxy_hide_header      Upgrade;
proxy_set_header Connection "";
proxy_set_header   Host   $host;
proxy_set_header   X-Real-IP  $remote_addr;
proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header   X-Forwarded-Proto $scheme;
proxy_redirect     off;
proxy_cache            PROXYCACHE;
proxy_cache_valid      200  1d;
proxy_cache_use_stale  error timeout invalid_header updating http_500 http_502 http_503 http_504;
proxy_set_header   Proxy "";
