#Proxy to Tomcat server (jsp)
index  index.jsp index.html index.htm;
root {{ DOCUMENTROOT }};

#Proxy Pass to a tomcat app server listening on port 8080
location / {
try_files $uri $uri/ @tomcat;
}

location @tomcat {
proxy_pass http://{{ APPSERVERIP }}:{{ UPSTREAM_PORT }};
}

# Proxy PHP files to httpd
location ~ \.php$ {
access_log  off;
{% if SSL_OFFLOAD == 'enabled' %}
proxy_pass   http://{{ APPSERVERIP }}:9999;
{% else %}
proxy_pass   $scheme://{{ APPSERVERIP }}:$cpport;
{% endif %}
}
