#Proxy to cPanel Apache httpd service

root {{ DOCUMENTROOT }};

location / {
access_log  off;
{% if SSL_OFFLOAD == 'enabled' %}
proxy_pass   http://{{ APPSERVERIP }}:9999;
{% else %}
proxy_pass   $scheme://{{ APPSERVERIP }}:$cpport;
{% endif %}
}
