# A Ruby Rack application

alias {{ DOCUMENTROOT }}/{{ SUBDIR }}/public$1;
passenger_base_uri /{{ SUBDIR }};
passenger_document_root {{ DOCUMENTROOT }}/{{ SUBDIR }}/public;
passenger_enabled on;
passenger_app_type rack;
passenger_ruby {{ PATHTORUBY }};
