#A NodeJS application;
root {{ DOCUMENTROOT }}/public;
passenger_enabled on;
passenger_nodejs {{ PATHTONODEJS }};

# Include any applications in subdirectory
{% for KEY, VALUE in SUBDIRAPPS.iteritems() %}
location ^~ /{{ KEY }}/ {
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.subinclude;
}
{% endfor %}
# End Include any applications in subdirectory

include /etc/nginx/conf.d/cpanel_services.conf;
