#Wordpress in a subdirectory

{% if AUTH_BASIC == 'enabled' %}
auth_basic "Restricted Content";
auth_basic_user_file {{ HOMEDIR }}/.htpasswds{{ DIFFDIR }}/{{ SUBDIR }}/passwd;
{% endif %}

{% if REDIRECTSTATUS != 'none' and REDIRECT_URL != 'none'  %}
return {{REDIRECTSTATUS}} {{REDIRECT_URL}}{% if APPEND_REQUESTURI == 'enabled' %}$request_uri{% endif %};
{% else %}

{% if SET_EXPIRE_STATIC == 'enabled' %}
include /etc/nginx/conf.d/files_with_expire.conf;
{% endif %}

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

try_files $uri $uri/ /{{ SUBDIR }}/index.php?q=$uri&$args;

# Include NAXSI settings
{% if NAXSI == 'enabled' %}
{% if NAXSIMODE == 'learn' %}
include /etc/nginx/conf.d/naxsi_learn.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
{% elif NAXSIMODE == 'active' %}
include /etc/nginx/conf.d/naxsi_active.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ SUBDIRAPPS[SUBDIR] }}.naxsi.wl*;
{% endif %}
# End Include NAXSI settings

# Include LUAWAF settings
{% if LUAWAF == 'enabled' %}
include /etc/nginx/conf.d/luarestywaf_exec.conf;
{% endif %}
# End Include LUAWAF settings


{% if SET_EXPIRE_STATIC == 'enabled' %}
include /etc/nginx/conf.d/files_with_expire.conf;
{% endif %}


location ~ \.php$ {

# Include NAXSI settings
{% if NAXSI == 'enabled' %}
{% if NAXSIMODE == 'learn' %}
include /etc/nginx/conf.d/naxsi_learn.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
{% elif NAXSIMODE == 'active' %}
include /etc/nginx/conf.d/naxsi_active.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ SUBDIRAPPS[SUBDIR] }}.naxsi.wl*;
{% endif %}
# End Include NAXSI settings

try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;

}

{% endif %}
