#Wordpress in a subdirectory
try_files $uri $uri/ /{{ SUBDIR }}/index.php?q=$uri&$args;

location ~ \.php$ {
try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;
}
