#PAGESPEED_NOT_ENABLED;
root DOCUMENTROOT;

index index.php index.html index.htm default.html default.htm;
# Support Clean (aka Search Engine Friendly) URLs
location / {
        try_files $uri $uri/ /index.php?$args;
        }

# deny running scripts inside writable directories
location ~* /(images|cache|media|logs|tmp)/.*\.(php|pl|py|jsp|asp|sh|cgi)$ {
        return 403;
        error_page 403 /403_error.html;
        }


# caching of files
location ~* \.(ico|pdf|flv)$ {
        expires 1y;
        }

location ~* \.(js|css|png|jpg|jpeg|gif|swf|xml|txt)$ {
        expires 14d;
        }

        location /NaxsiRequestDenied {
               return 418;
           }

location ~ \.php$ {
    #NAXSI_INCLUDE_FILE;
    #NAXSI_DOMAIN_WHITELISTS;

	try_files $uri =404;
        fastcgi_pass unix:SOCKETFILE;
        fastcgi_index index.php;
        include /etc/nginx/fastcgi_params;
}

include /etc/nginx/conf.d/cpanel_services.conf;
