#Joomla in a subdirectory

{% if AUTH_BASIC == 'enabled' %}
auth_basic "Restricted Content";
auth_basic_user_file {{ HOMEDIR }}/.htpasswds{{ DIFFDIR }}/{{ SUBDIR }}/passwd;
{% endif %}

{% if REDIRECTSTATUS != 'none' and REDIRECT_URL != 'none'  %}
return {{REDIRECTSTATUS}} {{REDIRECT_URL}}{% if APPEND_REQUESTURI == 'enabled' %}$request_uri{% endif %};
{% else %}

{% if SET_EXPIRE_STATIC == 'enabled' %}
include /etc/nginx/conf.d/files_with_expire.conf;
{% endif %}

# Include LUAWAF settings
{% if LUAWAF == 'enabled' %}
include /etc/nginx/conf.d/luarestywaf_exec.conf;
{% endif %}
# End Include LUAWAF settings

index index.php index.html index.htm;

try_files $uri $uri/ /{{ SUBDIR }}/index.php?$args;

location ~ \.php$ {

# Include LUAWAF settings
{% if LUAWAF == 'enabled' %}
include /etc/nginx/conf.d/luarestywaf_exec.conf;
{% endif %}
# End Include LUAWAF settings

try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;

}

{% endif %}
