#PAGESPEED_NOT_ENABLED;
root DOCUMENTROOT;
index index.php index.html index.htm;

location / {
        try_files $uri $uri/ @handler; ## If missing pass the URI to Magento's front handler
        expires 30d; ## Assume all files are cachable
}

    ## These locations would be hidden by .htaccess normally
location ^~ /app/                { deny all; }
location ^~ /includes/           { deny all; }
location ^~ /lib/                { deny all; }
location ^~ /media/downloadable/ { deny all; }
location ^~ /pkginfo/            { deny all; }
location ^~ /report/config.xml   { deny all; }
location ^~ /var/                { deny all; }

#location /var/export/ { ## Allow admins only to view export folder
#        auth_basic           "Restricted"; ## Message shown in login window
#        auth_basic_user_file htpasswd; ## See /etc/nginx/htpassword
#        autoindex            on;
#}

location  /. { ## Disable .htaccess and other hidden files
        return 404;
}

location @handler { ## Magento uses a common front handler
        rewrite / /index.php;
}

location ~ .php/ { ## Forward paths like /js/index.php/x.js to relevant handler
        rewrite ^(.*.php)/ $1 last;
}

#Uncomment Following if you are using Fooman Speedster
#rewrite ^/minify/([0-9]+)(/.*.(js|css))$ /lib/minify/m.php?f=$2&d=$1 last;
# rewrite ^/skin/m/([0-9]+)(/.*.(js|css))$ /lib/minify/m.php?f=$2&d=$1 last;

#location /lib/minify/ {
#        allow all;
#}

location ~ \.php$ {
    #NAXSI_INCLUDE_FILE;
    #NAXSI_DOMAIN_WHITELISTS;

	try_files $uri =404;
        fastcgi_pass unix:SOCKETFILE;
        fastcgi_index index.php;
	#fastcgi_param  MAGE_RUN_CODE default; ## Store code is defined in administration > Configuration > Manage Stores
        #fastcgi_param  MAGE_RUN_TYPE store;
        include /etc/nginx/fastcgi_params;
}

include /etc/nginx/conf.d/cpanel_services.conf;
