#Silverstripe

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

location / {
try_files $uri /framework/main.php?url=$uri&$query_string;
}

location ^~ /assets/ {
try_files $uri =404;
}

location ~ /framework/.*(main|rpc|tiny_mce_gzip)\.php$ {
try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;
}

location ~ /(mysite|framework|cms)/.*\.(php|php3|php4|php5|phtml|inc)$ {
deny all;
}

location ~ /\.. {
deny all;
}

location ~ \.ss$ {
satisfy any;
allow 127.0.0.1;
deny all;
}

location ~ web\.config$ {
deny all;
}

location ~ \.ya?ml$ {
deny all;
}

location ^~ /vendor/ {
deny all;
}

location ~* /silverstripe-cache/ {
deny all;
}

location ~* composer\.(json|lock)$ {
deny all;
}

location ~* /(cms|framework)/silverstripe_version$ {
deny all;
}

location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}

location ~ [^/]\.php(/|$) {
fastcgi_split_path_info ^(.+?\.php)(/.*)$;
if (!-f $document_root$fastcgi_script_name) {
return 404;
}
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;
}
