#Silverstripe

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

location / {

# Include LUAWAF settings
{% if LUAWAF == 'enabled' %}
include /etc/nginx/conf.d/luarestywaf_exec.conf;
{% endif %}
# End Include LUAWAF settings

try_files $uri /framework/main.php?url=$uri&$query_string;
}
error_page 404 /assets/error-404.html;
error_page 500 /assets/error-500.html;
location ^~ /assets/ {
try_files $uri =404;
}

location ~ /framework/.*(main|rpc|tiny_mce_gzip)\.php$ {

# Include LUAWAF settings
{% if LUAWAF == 'enabled' %}
include /etc/nginx/conf.d/luarestywaf_exec.conf;
{% endif %}
# End Include LUAWAF settings

fastcgi_keep_conn on;
try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;

}

location ~ /(mysite|framework|cms)/.*\.(php|php3|php4|php5|phtml|inc)$ {
deny all;
}

location ~ /\.. {
deny all;
}
location ~ \.ss$ {
satisfy any;
allow 127.0.0.1;
deny all;
}
location ~ web\.config$ {
deny all;
}
location ~ \.ya?ml$ {
deny all;
}
location ^~ /vendor/ {
deny all;
}
location ~* /silverstripe-cache/ {
deny all;
}
location ~* composer\.(json|lock)$ {
deny all;
}
location ~* /(cms|framework)/silverstripe_version$ {
deny all;
}

location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}

location ~ \.php$ {

# Include LUAWAF settings
{% if LUAWAF == 'enabled' %}
include /etc/nginx/conf.d/luarestywaf_exec.conf;
{% endif %}
# End Include LUAWAF settings

try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;

}

include /etc/nginx/conf.d/cpanel_services.conf;
