# CMSMadeSimple
root {{ DOCUMENTROOT }};
index index.php index.html index.htm;
location / {
try_files $uri $uri/ /index.php?page=$request_uri;
}
location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}
location ~* \.(js|css|png|jpg|jpeg|gif|swf|xml|ico|pdf|flv|txt)$ {
expires 1d;
}
location ~* /\.(?!well-known\/) { deny all; access_log off; log_not_found off; }
location ~ \.php$ {
try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;
}

include /etc/nginx/conf.d/cpanel_services.conf;
