#Codeignitor

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

# Include any applications in subdirectory
{% for KEY, VALUE in SUBDIRAPPS.iteritems() %}
location ^~ /{{ KEY }}/ {
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.subinclude;
}
{% endfor %}
# End Include any applications in subdirectory

location / {
try_files $uri $uri/ /index.php;
}

location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
{% if CHROOT_PHPFPM %}
fastcgi_param  SCRIPT_FILENAME    {{ DIFFDIR }}$fastcgi_script_name;
fastcgi_param  DOCUMENT_ROOT      {{ DIFFDIR }};
{% endif %}
fastcgi_pass unix:{{ SOCKETFILE }};
}

location ~ \.php$ {
try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;
{% if CHROOT_PHPFPM %}
fastcgi_param  SCRIPT_FILENAME    {{ DIFFDIR }}$fastcgi_script_name;
fastcgi_param  DOCUMENT_ROOT      {{ DIFFDIR }};
{% endif %}
}

include /etc/nginx/conf.d/cpanel_services.conf;
