#Drupal version7 or higher

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

###
### advagg_css and advagg_js support
###
location ~* files/advagg_(?:css|js)/ {
gzip_static on;
access_log  off;
expires     max;
add_header  ETag "";
add_header  Cache-Control "max-age=31449600, no-transform, public";
try_files   $uri @rewrite;
}

location ~ \..*/.*\.php$ {
return 403;
}

location ~ ^/sites/.*/private/ {
return 403;
}

# Block access to "hidden" files and directories whose names begin with a
# period. This includes directories used by version control systems such
# as Subversion or Git to store control files.
location ~ (^|/)\. {
return 403;
}

location ~ /sitemap.xml {
try_files $uri @rewrite;
}

location / {
try_files $uri /index.php?$query_string;
}

location ~ /vendor/.*\.php$ {
deny all;
return 404;
}

location ~ /sites/.*/files/(.*)?\.php$ {
deny all;
return 404;
}

location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}

location ~ '\.php$|^/update.php' {
try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;
}

location ~ ^/sites/.*/files/styles/ {
try_files $uri @rewrite;
}

location @rewrite {
rewrite ^/(.*)$ /index.php?q=$1;
}
