#Drupal version7 or higher
root {{ DOCUMENTROOT }};
index index.php index.html index.htm;
location ~ \..*/.*\.php$ {
return 403;
}
location ~ ^/sites/.*/private/ {
return 403;
}
location ~* /\.(?!well-known\/) { deny all; access_log off; log_not_found off; }
location / {
try_files $uri /index.php?$query_string;
}
location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}
location ~ '\.php$|^/update.php' {
try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;
}
location ~ ^/sites/.*/files/styles/ {
try_files $uri @rewrite;
}
location @rewrite {
rewrite ^/(.*)$ /index.php?q=$1;
}
location ~* \.(js|css|png|jpg|jpeg|gif|swf|xml|ico|pdf|flv|txt)$ {
expires 1d;
}
include /etc/nginx/conf.d/cpanel_services.conf;
