#Drupal version7 or higher

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

# Include any applications in subdirectory
{% for KEY, VALUE in SUBDIRAPPS.iteritems() %}
location ^~ /{{ KEY }}/ {
  include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.manualconfig*;
  include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.subinclude;
}
{% endfor %}
# End Include any applications in subdirectory

location ~ \..*/.*\.php$ {
  return 403;
}

location ~ /\. {
  access_log off;
  log_not_found off;
  deny all;
}

location ~ ~$ {
  access_log off;
  log_not_found off;
  deny all;
}

location ~ /\.ht {
  deny  all;
}

location = /favicon.ico {
  log_not_found off;
  access_log off;
}

location = /robots.txt {
  allow all;
  log_not_found off;
  access_log off;
}

location ~* \.(txt|log)$ {
  allow 127.0.0.1/0;
  deny all;
}

location ~ ^/sites/.*/private/ {
  return 403;
}

# Allow "Well-Known URIs" as per RFC 5785
location ~* ^/.well-known/ {
  allow all;
}

# Block access to "hidden" files and directories whose names begin with a
# period. This includes directories used by version control systems such
# as Subversion or Git to store control files.
location ~ (^|/)\. {
  return 403;
}

location / {

  # Include NAXSI settings
  {% if NAXSI == 'enabled' %}
  {% if NAXSIMODE == 'learn' %}
  include /etc/nginx/conf.d/naxsi_learn.rules;
  {% if NAXSI_WHITELIST == 'wordpress' %}
  include /etc/nginx/naxsi.d/wordpress.rules;
  {% endif %}
  {% if NAXSI_WHITELIST == 'drupal' %}
  include /etc/nginx/naxsi.d/drupal.rules;
  {% endif %}
  {% elif NAXSIMODE == 'active' %}
  include /etc/nginx/conf.d/naxsi_active.rules;
  {% if NAXSI_WHITELIST == 'wordpress' %}
  include /etc/nginx/naxsi.d/wordpress.rules;
  {% endif %}
  {% if NAXSI_WHITELIST == 'drupal' %}
  include /etc/nginx/naxsi.d/drupal.rules;
  {% endif %}
  {% endif %}
  include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.naxsi.wl*;
  {% endif %}
  # End Include NAXSI settings

  try_files $uri /index.php?$query_string;
}

location ~ /vendor/.*\.php$ {
  deny all;
  return 404;
}

location ~ /sites/.*/files/(.*)?\.php$ {
  deny all;
  return 404;
}

location ~ ^/pingphpfpm$ {
  include /etc/nginx/fastcgi_params*;
  {% if CHROOT_PHPFPM %}
  fastcgi_param  SCRIPT_FILENAME    {{ DIFFDIR }}$fastcgi_script_name;
  fastcgi_param  DOCUMENT_ROOT      {{ DIFFDIR }};
  {% endif %}
  fastcgi_pass unix:{{ SOCKETFILE }};
}

location ~ '\.php$|^/update.php' {

  # Include NAXSI settings
  {% if NAXSI == 'enabled' %}
  {% if NAXSIMODE == 'learn' %}
  include /etc/nginx/conf.d/naxsi_learn.rules;
  {% if NAXSI_WHITELIST == 'wordpress' %}
  include /etc/nginx/naxsi.d/wordpress.rules;
  {% endif %}
  {% if NAXSI_WHITELIST == 'drupal' %}
  include /etc/nginx/naxsi.d/drupal.rules;
  {% endif %}
  {% elif NAXSIMODE == 'active' %}
  include /etc/nginx/conf.d/naxsi_active.rules;
  {% if NAXSI_WHITELIST == 'wordpress' %}
  include /etc/nginx/naxsi.d/wordpress.rules;
  {% endif %}
  {% if NAXSI_WHITELIST == 'drupal' %}
  include /etc/nginx/naxsi.d/drupal.rules;
  {% endif %}
  {% endif %}
  include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.naxsi.wl*;
  {% endif %}
  # End Include NAXSI settings

  try_files $uri =404;
  fastcgi_pass unix:{{ SOCKETFILE }};
  fastcgi_index index.php;
  include /etc/nginx/fastcgi_params*;
  {% if CHROOT_PHPFPM %}
  fastcgi_param  SCRIPT_FILENAME    {{ DIFFDIR }}$fastcgi_script_name;
  fastcgi_param  DOCUMENT_ROOT      {{ DIFFDIR }};
  {% endif %}
  # Block httpoxy attacks. See https://httpoxy.org/.
  fastcgi_param HTTP_PROXY "";
  fastcgi_intercept_errors on;
}

location ~ ^/sites/.*/files/styles/ {
  try_files $uri @rewrite;
}

location @rewrite {
  rewrite ^/(.*)$ /index.php?q=$1;
}

location ~* \.(js|css|png|jpg|jpeg|gif|ico)(\?[a-zA-Z0-9\.\,-_])?$ {
  expires max;
  log_not_found off;
}

include /etc/nginx/conf.d/cpanel_services.conf;
