#Drupal version6 or lower
root {{ DOCUMENTROOT }};
index index.php index.html index.htm;
location ~ \..*/.*\.php$ {
return 403;
}
location ~ ^/sites/.*/private/ {
return 403;
}
location ~* /\.(?!well-known\/) { deny all; access_log off; log_not_found off; }
location / {
try_files $uri @rewrite;
}

# Include any applications in subdirectory
{% for KEY, VALUE in SUBDIRAPPS.iteritems() %}
location /{{ KEY }}/ {
include /etc/nginx/sites-enabled/{{ VALUE }}.include;
}
{% endfor %}
# End Include any applications in subdirectory


location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}
location ~ \.php(/|$) {
try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;
}
location ~ ^/sites/.*/files/imagecache/ {
try_files $uri @rewrite;
}
location @rewrite {
rewrite ^/(.*)$ /index.php?q=$1;
}
location ~* \.(js|css|png|jpg|jpeg|gif|swf|xml|ico|pdf|flv|txt)$ {
expires 1d;
}
include /etc/nginx/conf.d/cpanel_services.conf;
