#Drupal version6 or lower

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

location ~ \..*/.*\.php$ {
return 403;
}
location ~ ^/sites/.*/private/ {
return 403;
}

location / {

# Include NAXSI settings
{% if NAXSI == 'enabled' %}
{% if NAXSIMODE == 'learn' %}
include /etc/nginx/conf.d/naxsi_learn.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.wl;
{% elif NAXSIMODE == 'active' %}
include /etc/nginx/conf.d/naxsi_active.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.wl;
{% endif %}
{% endif %}
# End Include NAXSI settings

try_files $uri @rewrite;
}

# Include any applications in subdirectory
{% for KEY, VALUE in SUBDIRAPPS.iteritems() %}
location ^~ /{{ KEY }}/ {
include /etc/nginx/sites-enabled/{{ VALUE }}.subinclude;
}
{% endfor %}
# End Include any applications in subdirectory


location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}

location ~ \.php(/|$) {

# Include NAXSI settings
{% if NAXSI == 'enabled' %}
{% if NAXSIMODE == 'learn' %}
include /etc/nginx/conf.d/naxsi_learn.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.wl;
{% elif NAXSIMODE == 'active' %}
include /etc/nginx/conf.d/naxsi_active.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.wl;
{% endif %}
{% endif %}
# End Include NAXSI settings


try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;
}

location ~ ^/sites/.*/files/imagecache/ {
try_files $uri @rewrite;
}

location @rewrite {
rewrite ^/(.*)$ /index.php?q=$1;
}

include /etc/nginx/conf.d/cpanel_services.conf;
