#Moodle

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

location / {

rewrite ^/(.*.php)(/)(.*)$ /$1?file=/$3 last;
}

location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}

location ~ \.php$ {


try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;

}

include /etc/nginx/conf.d/cpanel_services.conf;
