#Snipe-IT

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

location / {

# Include LUAWAF settings
{% if LUAWAF == 'enabled' %}
include /etc/nginx/conf.d/luarestywaf_exec.conf;
{% endif %}
# End Include LUAWAF settings

try_files $uri $uri/ /index.php$is_args$args;
}

location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}

location ~ \.php$ {

# Include LUAWAF settings
{% if LUAWAF == 'enabled' %}
include /etc/nginx/conf.d/luarestywaf_exec.conf;
{% endif %}
# End Include LUAWAF settings

try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;

}

include /etc/nginx/conf.d/cpanel_services.conf;
