#PAGESPEED_NOT_ENABLED;
root DOCUMENTROOT;
index index.php index.html index.htm;

#Basic Password protection .You may need to change the htpasswd file path below
auth_basic "Login Required";
auth_basic_user_file DOCUMENTROOT/../.htpasswds/passwd;


location ~ \.php$ {
    #NAXSI_INCLUDE_FILE;
    #NAXSI_DOMAIN_WHITELISTS;
	  try_files $uri =404;
    fastcgi_pass unix:SOCKETFILE;
    fastcgi_index index.php;
    include /etc/nginx/fastcgi_params;
}

include /etc/nginx/conf.d/cpanel_services.conf;
