#Wordpress + FastCGI microcaching

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

# Include any applications in subdirectory
{% for KEY, VALUE in SUBDIRAPPS.iteritems() %}
location ^~ /{{ KEY }}/ {
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.subinclude;
}
{% endfor %}
# End Include any applications in subdirectory

location / {

# Include NAXSI settings
{% if NAXSI == 'enabled' %}
{% if NAXSIMODE == 'learn' %}
include /etc/nginx/conf.d/naxsi_learn.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
{% elif NAXSIMODE == 'active' %}
include /etc/nginx/conf.d/naxsi_active.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.naxsi.wl*;
{% endif %}
# End Include NAXSI settings

#If request method is POST we add a _mcnc cookie
if ($requestnocache = "1") {
add_header Set-Cookie "_mcnc=1; Max-Age=2; Path=/";
add_header X-Microcachable "0";
}

try_files $uri $uri/ /index.php?q=$uri&$args;
}

location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
{% if CHROOT_PHPFPM %}
fastcgi_param  SCRIPT_FILENAME    {{ DIFFDIR }}$fastcgi_script_name;
fastcgi_param  DOCUMENT_ROOT      {{ DIFFDIR }};
{% endif %}
fastcgi_pass unix:{{ SOCKETFILE }};
}
location = /wp-login.php {
limit_req   zone=one  burst=1 nodelay;
include /etc/nginx/fastcgi_params*;
{% if CHROOT_PHPFPM %}
fastcgi_param  SCRIPT_FILENAME    {{ DIFFDIR }}$fastcgi_script_name;
fastcgi_param  DOCUMENT_ROOT      {{ DIFFDIR }};
{% endif %}
fastcgi_pass unix:{{ SOCKETFILE }};
}

location ~ \.php$ {

# Include NAXSI settings
{% if NAXSI == 'enabled' %}
{% if NAXSIMODE == 'learn' %}
include /etc/nginx/conf.d/naxsi_learn.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
{% elif NAXSIMODE == 'active' %}
include /etc/nginx/conf.d/naxsi_active.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.naxsi.wl*;
{% endif %}
# End Include NAXSI settings

try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;

#MicroCache
fastcgi_cache FASTCGIMICROCACHE;
fastcgi_cache_bypass $requestnocache $querystringnc $wpcookienocache $wpurinocache;
fastcgi_no_cache $requestnocache $querystringnc $wpcookienocache $wpurinocache;
fastcgi_cache_valid any 1s;
fastcgi_cache_use_stale updating error timeout invalid_header http_500;
fastcgi_ignore_headers Cache-Control Expires Set-Cookie;
fastcgi_cache_lock on;

include /etc/nginx/fastcgi_params*;
{% if CHROOT_PHPFPM %}
fastcgi_param  SCRIPT_FILENAME    {{ DIFFDIR }}$fastcgi_script_name;
fastcgi_param  DOCUMENT_ROOT      {{ DIFFDIR }};
{% endif %}
}

include /etc/nginx/conf.d/cpanel_services.conf;
