#CakePHP

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

location / {

{% if MODSECURITY == 'enabled' %}
modsecurity_rules_file /etc/nginx/conf.d/zz_modsecurity.conf;
{% endif %}

try_files $uri $uri/ /index.php?$args;
}

location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}


location ~ \.php$ {

{% if MODSECURITY == 'enabled' %}
modsecurity_rules_file /etc/nginx/conf.d/zz_modsecurity.conf;
{% endif %}

try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;

}

include /etc/nginx/conf.d/cpanel_services.conf;
