# http://yourls.org/ URL shortner in subdir

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

try_files $uri $uri/ /{{ SUBDIR }}/yourls-loader.php;


location ~ \.php$ {

try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;

}
