# A PHP Webapp in subdir

{% if AUTH_BASIC == 'enabled' %}
auth_basic "Restricted Content";
auth_basic_user_file {{ HOMEDIR }}/.htpasswds{{ DIFFDIR }}/{{ SUBDIR }}/passwd;
{% endif %}


try_files $uri $uri/ /{{ SUBDIR }}/index.php;


location ~ \.php$ {
try_files $uri =404;
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;
}
