# A BareBones PHP Webapp with no locations
root {{ DOCUMENTROOT }};
index index.php index.html index.htm;


location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}

location ~ [^/]\.php(/|$) {
fastcgi_split_path_info ^(.+?\.php)(/.*)$;
if (!-f $document_root$fastcgi_script_name) {
return 404;
}
fastcgi_pass unix:{{ SOCKETFILE }};
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;
}
