#!/bin/bash

BACKUPDIR="{{ BACKUP_PATH }}"

if [ ! -f ${BACKUPDIR} ]
then
  mkdir -p ${BACKUPDIR}
fi

# pkgacct_backup
{% if PKGACCT_BACKUP == "enabled" %}
rm -rf ${BACKUPDIR}/PKGACCT_BACKUP
if [ ! -f ${BACKUPDIR}/PKGACCT_BACKUP ]
then
  mkdir -p ${BACKUPDIR}/PKGACCT_BACKUP
fi
for CPANELUSER in $(cat /etc/domainusers|cut -d: -f1)
do
  nice --adjustment=18 /scripts/pkgacct --skiphomedir --skipbwdata --skiplogs ${CPANELUSER} ${BACKUPDIR}/PKGACCT_BACKUP/
done
{% endif %}

# system_files
{% if SYSTEM_FILES == "enabled" %}
rm -rf ${BACKUPDIR}/SYSTEM_FILES
if [ ! -f ${BACKUPDIR}/SYSTEM_FILES ]
then
  mkdir -p ${BACKUPDIR}/SYSTEM_FILES
fi
for file in $(cat /opt/nDeploy/conf/cpanel_systembackup.include)
do
  rsync -a ${file} ${BACKUPDIR}/SYSTEM_FILES/
done
{% endif %}

# mysql_backup
{% if MYSQL_BACKUP == "enabled" %}
rm -rf ${BACKUPDIR}/MYSQL_BACKUP
if [ ! -f ${BACKUPDIR}/MYSQL_BACKUP ]
then
  mkdir -p ${BACKUPDIR}/MYSQL_BACKUP
fi
if [ ! -f /usr/bin/mariabackup ]
then
  mariabackup --backup --target-dir ${BACKUPDIR}/MYSQL_BACKUP
else
  rsync -a /var/lib/mysql ${BACKUPDIR}/MYSQL_BACKUP/
fi
{% endif %}
