location:
  source_directories:
      - {{ BACKUP_PATH }}
      - /home
  one_file_system: true
  repositories:
        - user@backupserver:sourcehostname.borg
  exclude_from:
    - /etc/borgmatic/excludes
  exclude_caches: true
  exclude_if_present: .nobackup
storage:
    compression: lz4
    remote_rate_limit: 10000
    ssh_command: ssh -i /root/.ssh/id_rsa
    lock_wait: 5
retention:
    keep_daily: 7
consistency:
    checks:
        - disabled
hooks:
    before_backup:
        - /opt/nDeploy/scripts/borgmatic_cpanel_backup_hook.sh
    after_backup:
        - echo "`date` - Backup created."
    on_error:
        - echo "`date` - Error while creating a backup."
