location:
  source_directories:
      - {{ BACKUP_PATH }}
      - /home
  one_file_system: true
  repositories:
        - user@backupserver:sourcehostname.borg
  exclude_from:
    - /etc/borgmatic/excludes
    - /opt/nDeploy/conf/borg_excludes
  exclude_caches: true
  exclude_if_present: .nobackup
storage:
    compression: "auto,zstd,8"
    remote_rate_limit: 10000
    ssh_command: ssh -i /root/.ssh/id_rsa
    encryption_passphrase: "changeme"
    lock_wait: 5
    archive_name_format: '{fqdn}-{now:%Y-%m-%dT%H:%M:%S.%f}-borg-{borgminor}'
retention:
    keep_hourly: 0
    keep_daily: 7
    keep_weekly: 0
    keep_monthly: 0
    prefix: "{fqdn}-"
consistency:
    checks:
        - disabled
    prefix: "{fqdn}-"
hooks:
    before_backup:
        - /opt/nDeploy/scripts/borgmatic_cpanel_backup_hook.sh
    after_backup:
        - echo "`date` - Backup created."
    on_error:
        - echo "`date` - Error while creating a backup."
