backend_category: PROXY
backend_path: '9999'
backend_version: httpd
apptemplate_code: '1000'
user: {{ CPANELUSER }}
pagespeed: True
naxsi: True
autoindex: True
redirect_to_ssl: True
clickjacking_protect: True
disable_contenttype_sniffing: True
xss_filter: True
content_security_policy: True
hsts: True
brotli: True
gzip: True
ssl_offload: True
