<IfModule remoteip_module>
  RemoteIPHeader X-Forwarded-For
  {% for MYIP in CPIPLIST %}
  RemoteIPTrustedProxy {{ MYIP }}
  {% endfor %}
  # Cluster slave IP's
  {% for MYIP in SLAVEIPLIST %}
  RemoteIPTrustedProxy {{ MYIP }}
  {% endfor %}
</IfModule>
