
{% for MYIP in CPIPLIST %}

server {
        listen {{ MYIP }}:80;
        listen {{ MYIP }}:443 ssl;
        ssl_certificate {{ CPSRVDSSL }};
        ssl_certificate_key {{ CPSRVDSSL }};
        server_name cpanel.* whm.* webmail.* cpcontacts.* cpcalendars.*;
        access_log off;
        location / {
        {% if DEFAULT_VHOST_DDOS == 'enabled' %}
        client_body_timeout 5s;
        send_timeout 5s;
        limit_rate 256k;
        lingering_close off;
        reset_timedout_connection on;
        limit_req zone=FLOODPROTECT burst=100;
        limit_conn PERIP 60;
        {% endif %}

           proxy_pass   $scheme://{{ MYIP }}:$cpport;
           proxy_set_header   Host   $host;
           proxy_set_header   X-Real-IP  $remote_addr;
           proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
          }
}

{% endfor %}
