server {
	listen CPANELIP:443;
	#CPIPVSIX:443;
	disable_symlinks if_not_owner from=DOCUMENTROOT;
	
	ssl on;
	ssl_certificate CPANELSSLCRT;
	ssl_certificate_key CPANELSSLKEY;
	
	ssl_session_cache shared:SSL:10m;
	ssl_session_timeout  5m;
	
	# ServerNames
	server_name  DOMAINLIST;
	access_log /usr/local/apache/domlogs/DOMAINNAME main;
	access_log /usr/local/apache/domlogs/DOMAINNAME-bytes_log bytes_log;
	access_log /usr/local/apache/domlogs/DOMAINNAME-ssl_log main;

	include /etc/nginx/sites-enabled/DOMAINNAME_SSL.include;
}
