server {

  listen    CPANELIP:443 ssl;
  #CPIPVSIX:443 ssl;
  ssl_certificate CPANELSSLCRT;
  ssl_certificate_key CPANELSSLKEY;

  ssl_session_cache    shared:SSL:1m;
  ssl_session_timeout  5m;

  ssl_ciphers  HIGH:!aNULL:!MD5;
  ssl_prefer_server_ciphers  on;
  

  # ServerNames
  server_name  DOMAINLIST;

  include /opt/xstack/sites-enabled/DOMAINNAME.include;

 }
