server {

  listen    CPANELIP:80;
  #CPIPVSIX:80;

  # ServerNames
  server_name  DOMAINLIST;
  access_log /usr/local/apache/domlogs/DOMAINNAME combined buffer=32k flush=5m;
  access_log /usr/local/apache/domlogs/DOMAINNAME-bytes_log bytes_log buffer=32k flush=5m;

  include /etc/nginx/sites-enabled/DOMAINNAME.include;

 }
