
# Redirects if any

{% if WWWREDIRECT == "tononwww" %}
server {
listen  {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
{% if SSL %}
listen  {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLKEY }};
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam.pem;
ssl_session_timeout  5m;
ssl_stapling on;
ssl_stapling_verify on;
resolver 8.8.8.8 8.8.4.4 valid=300s ipv6=off;
resolver_timeout 5s;
{% endif %}
server_name www.{{ MAINDOMAINNAME }};
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://{{ MAINDOMAINNAME }}$request_uri;
{% else %}
return 301 $scheme://{{ MAINDOMAINNAME }}$request_uri;
{% endif %}
}
{% endif %}

{% if WWWREDIRECT == "towww" %}
server {
listen  {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
{% if SSL %}
listen  {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLKEY }};
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam.pem;
ssl_session_timeout  5m;
ssl_stapling on;
ssl_stapling_verify on;
resolver 8.8.8.8 8.8.4.4 valid=300s ipv6=off;
resolver_timeout 5s;
{% endif %}
server_name {{ MAINDOMAINNAME }};
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://www.{{ MAINDOMAINNAME }}$request_uri;
{% else %}
return 301 $scheme://www.{{ MAINDOMAINNAME }}$request_uri;
{% endif %}
}
{% endif %}

{% if REDIRECTALIASES == 'enabled' %}
server {
listen  {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
{% if SSL %}
listen  {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLKEY }};
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam.pem;
ssl_session_timeout  5m;
ssl_stapling on;
ssl_stapling_verify on;
resolver 8.8.8.8 8.8.4.4 valid=300s ipv6=off;
resolver_timeout 5s;
{% endif %}
server_name {% for DOMAIN in REDIRECTALIASES_LIST %}{{ DOMAIN+" " }}{% endfor %};
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://{{ MAINDOMAINNAME }}$request_uri;
{% else %}
return 301 $scheme://{{ MAINDOMAINNAME }}$request_uri;
{% endif %}
}
{% endif %}

# The server blocks

# Proxy Subdomains
# cPanel
server {
listen    {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
server_name  cpanel.{{ CONFIGDOMAINNAME }};
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://$host$request_uri;
{% else %}
location / {

   proxy_send_timeout   90;
   proxy_read_timeout   90;

   proxy_buffer_size    4k;
   proxy_buffers     16 32k;
   proxy_busy_buffers_size 64k;
   proxy_temp_file_write_size 64k;

   proxy_connect_timeout 30s;

   proxy_pass   http://127.0.0.1:2082;
   proxy_set_header   Host   $host;
   proxy_set_header   X-Real-IP  $remote_addr;
   proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
{% endif %}

}

# Webmail
server {
listen    {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
server_name  webmail.{{ CONFIGDOMAINNAME }};
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://$host$request_uri;
{% else %}
location / {

   proxy_send_timeout   90;
   proxy_read_timeout   90;

   proxy_buffer_size    4k;
   proxy_buffers     16 32k;
   proxy_busy_buffers_size 64k;
   proxy_temp_file_write_size 64k;

   proxy_connect_timeout 30s;

   proxy_pass   http://127.0.0.1:2095;
   proxy_set_header   Host   $host;
   proxy_set_header   X-Real-IP  $remote_addr;
   proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
{% endif %}
}

# WHM
server {
listen    {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
server_name  whm.{{ CONFIGDOMAINNAME }};
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://$host$request_uri;
{% else %}
location / {

   proxy_send_timeout   90;
   proxy_read_timeout   90;

   proxy_buffer_size    4k;
   proxy_buffers     16 32k;
   proxy_busy_buffers_size 64k;
   proxy_temp_file_write_size 64k;

   proxy_connect_timeout 30s;

   proxy_pass   http://127.0.0.1:2086;
   proxy_set_header   Host   $host;
   proxy_set_header   X-Real-IP  $remote_addr;
   proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
{% endif %}
}

# cpcontacts and cpcalendars
server {
listen    {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
server_name  cpcontacts.{{ CONFIGDOMAINNAME }} cpcalendars.{{ CONFIGDOMAINNAME }};
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://$host$request_uri;
{% else %}
location / {

   proxy_send_timeout   90;
   proxy_read_timeout   90;

   proxy_buffer_size    4k;
   proxy_buffers     16 32k;
   proxy_busy_buffers_size 64k;
   proxy_temp_file_write_size 64k;

   proxy_connect_timeout 30s;

   proxy_pass   http://127.0.0.1:2079;
   proxy_set_header   Host   $host;
   proxy_set_header   X-Real-IP  $remote_addr;
   proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
{% endif %}
}
# Proxy Subdomains

server {
listen    {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
server_name  {{ DOMAINLIST }};
{% if ENABLEACCESSLOG == 'disabled' %}
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=32k flush=5m;
{% else %}
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }} combined buffer=32k flush=5m;
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=32k flush=5m;
{% endif %}
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://$host$request_uri;
{% else %}
{% if PAGESPEED == 'enabled' %}
{% if PAGESPEED_FILTER == 'CoreFilters' %}
include /etc/nginx/conf.d/pagespeed.conf;
{% elif PAGESPEED_FILTER == 'PassThrough' %}
include /etc/nginx/conf.d/pagespeed_passthrough.conf;
{% endif %}
{% endif %}
{% if not OPEN_FILE_CACHE == 'enabled' %}
open_file_cache off;
{% endif %}
{% if AUTOINDEX == 'enabled' %}
autoindex on;
{% endif %}
{% if CLICKJACKING_PROTECT == 'enabled' %}
add_header X-Frame-Options SAMEORIGIN;
{% endif %}
{% if DISABLE_CONTENTTYPE_SNIFFING == 'enabled' %}
add_header X-Content-Type-Options nosniff;
{% endif %}
{% if XSS_FILTER == 'enabled' %}
add_header X-XSS-Protection "1; mode=block";
{% endif %}
{% if GZIP == 'enabled' %}
include /etc/nginx/conf.d/gzip.conf;
{% endif %}
{% if DOSMITIGATE == 'enabled' %}
include /etc/nginx/conf.d/dos_mitigate.conf;
{% endif %}
{% if AUTH_BASIC == 'enabled' %}
auth_basic "Restricted Content";
auth_basic_user_file {{ HOMEDIR }}/.htpasswds{{ DIFFDIR }}/passwd;
{% endif %}
{% if REDIRECTSTATUS != 'none' and REDIRECT_URL != 'none'  %}
return {{REDIRECTSTATUS}} {{REDIRECT_URL}}{% if APPEND_REQUESTURI == 'enabled' %}$request_uri{% endif %};
{% else %}
{% if MODSECURITY == 'enabled' %}
modsecurity on;
{% endif %}
{% if SET_EXPIRE_STATIC == 'enabled' %}
include /etc/nginx/conf.d/files_with_expire.conf;
{% endif %}
{% if TEST_COOKIE == 'enabled' %}
testcookie on;
{% endif %}
{% if SYMLINK_PROTECTION == 'enabled' %}
disable_symlinks if_not_owner;
{% endif %}

# Allow "Well-Known URIs" as per RFC 5785
location ~* ^/.well-known/ {
allow all;
proxy_send_timeout   90;
proxy_read_timeout   90;

proxy_buffer_size    4k;
proxy_buffers     16 32k;
proxy_busy_buffers_size 64k;
proxy_temp_file_write_size 64k;

proxy_connect_timeout 30s;

proxy_pass   $scheme://{{ APPSERVERIP }}:$cpport;
proxy_set_header   Host   $host;
proxy_set_header   X-Real-IP  $remote_addr;
proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
}
# cPanel internal DCV checks
location ~* ^/[0-9]+\..+\.cpaneldcv$ {
allow all;
proxy_send_timeout   90;
proxy_read_timeout   90;

proxy_buffer_size    4k;
proxy_buffers     16 32k;
proxy_busy_buffers_size 64k;
proxy_temp_file_write_size 64k;

proxy_connect_timeout 30s;

proxy_pass   $scheme://{{ APPSERVERIP }}:$cpport;
proxy_set_header   Host   $host;
proxy_set_header   X-Real-IP  $remote_addr;
proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
}
# Comodo
location ~* "^/[A-F0-9]{32}\.txt$" {
allow all;
proxy_send_timeout   90;
proxy_read_timeout   90;

proxy_buffer_size    4k;
proxy_buffers     16 32k;
proxy_busy_buffers_size 64k;
proxy_temp_file_write_size 64k;

proxy_connect_timeout 30s;

proxy_pass   $scheme://{{ APPSERVERIP }}:$cpport;
proxy_set_header   Host   $host;
proxy_set_header   X-Real-IP  $remote_addr;
proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
}

# Include NAXSI settings
location ^~ /NaxsiRequestDenied {
return 418;
}
# End Include NAXSI settings
# Include any applications in subdirectory
{% for KEY, VALUE in SUBDIRAPPS.iteritems() %}
{% if PASSENGERAPPS[KEY] == 'enabled' %}
location ~ ^/{{ KEY }}(/.*|$) {
{% else %}
location ^~ /{{ KEY }} {
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.subinclude;
}
{% endfor %}
# End Include any applications in subdirectory
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.include;
{% endif %}
{% endif %}
}

{% if SSL %}

# Proxy Subdomains
# cPanel
server {
listen    {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen    [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLKEY }};
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam.pem;
ssl_session_timeout  5m;
ssl_stapling on;
ssl_stapling_verify on;
resolver 8.8.8.8 8.8.4.4 valid=300s ipv6=off;
resolver_timeout 5s;
server_name  cpanel.{{ CONFIGDOMAINNAME }};
location / {

   proxy_send_timeout   90;
   proxy_read_timeout   90;

   proxy_buffer_size    4k;
   proxy_buffers     16 32k;
   proxy_busy_buffers_size 64k;
   proxy_temp_file_write_size 64k;

   proxy_connect_timeout 30s;

   proxy_pass   http://127.0.0.1:2083;
   proxy_set_header   Host   $host;
   proxy_set_header   X-Real-IP  $remote_addr;
   proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}

# Webmail
server {
listen    {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen    [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLKEY }};
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam.pem;
ssl_session_timeout  5m;
ssl_stapling on;
ssl_stapling_verify on;
resolver 8.8.8.8 8.8.4.4 valid=300s ipv6=off;
resolver_timeout 5s;
server_name  webmail.{{ CONFIGDOMAINNAME }};
location / {

   proxy_send_timeout   90;
   proxy_read_timeout   90;

   proxy_buffer_size    4k;
   proxy_buffers     16 32k;
   proxy_busy_buffers_size 64k;
   proxy_temp_file_write_size 64k;

   proxy_connect_timeout 30s;

   proxy_pass   http://127.0.0.1:2096;
   proxy_set_header   Host   $host;
   proxy_set_header   X-Real-IP  $remote_addr;
   proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}

# WHM
server {
listen    {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen    [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLKEY }};
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam.pem;
ssl_session_timeout  5m;
ssl_stapling on;
ssl_stapling_verify on;
resolver 8.8.8.8 8.8.4.4 valid=300s ipv6=off;
resolver_timeout 5s;
server_name  whm.{{ CONFIGDOMAINNAME }};
location / {

   proxy_send_timeout   90;
   proxy_read_timeout   90;

   proxy_buffer_size    4k;
   proxy_buffers     16 32k;
   proxy_busy_buffers_size 64k;
   proxy_temp_file_write_size 64k;

   proxy_connect_timeout 30s;

   proxy_pass   http://127.0.0.1:2087;
   proxy_set_header   Host   $host;
   proxy_set_header   X-Real-IP  $remote_addr;
   proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}

# cpcontacts and cpcalendars
server {
listen    {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen    [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLKEY }};
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam.pem;
ssl_session_timeout  5m;
ssl_stapling on;
ssl_stapling_verify on;
resolver 8.8.8.8 8.8.4.4 valid=300s ipv6=off;
resolver_timeout 5s;
server_name  cpcontacts.{{ CONFIGDOMAINNAME }} cpcalendars.{{ CONFIGDOMAINNAME }};
location / {

   proxy_send_timeout   90;
   proxy_read_timeout   90;

   proxy_buffer_size    4k;
   proxy_buffers     16 32k;
   proxy_busy_buffers_size 64k;
   proxy_temp_file_write_size 64k;

   proxy_connect_timeout 30s;

   proxy_pass   http://127.0.0.1:2080;
   proxy_set_header   Host   $host;
   proxy_set_header   X-Real-IP  $remote_addr;
   proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
# Proxy Subdomains


server {
listen    {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen    [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLKEY }};
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam.pem;
ssl_session_timeout  5m;
ssl_stapling on;
ssl_stapling_verify on;
resolver 8.8.8.8 8.8.4.4 valid=300s ipv6=off;
resolver_timeout 5s;
server_name  {{ DOMAINLIST }};
{% if ENABLEACCESSLOG == 'disabled' %}
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=32k flush=5m;
{% else %}
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-ssl_log combined buffer=32k flush=5m;
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=32k flush=5m;
{% endif %}
{% if PAGESPEED == 'enabled' %}
{% if PAGESPEED_FILTER == 'CoreFilters' %}
include /etc/nginx/conf.d/pagespeed.conf;
{% elif PAGESPEED_FILTER == 'PassThrough' %}
include /etc/nginx/conf.d/pagespeed_passthrough.conf;
{% endif %}
{% endif %}
{% if not OPEN_FILE_CACHE == 'enabled' %}
open_file_cache off;
{% endif %}
{% if AUTOINDEX == 'enabled' %}
autoindex on;
{% endif %}
{% if HSTS == 'enabled' %}
add_header Strict-Transport-Security "max-age=31536000" always;
{% endif %}
{% if CLICKJACKING_PROTECT == 'enabled' %}
add_header X-Frame-Options SAMEORIGIN;
{% endif %}
{% if DISABLE_CONTENTTYPE_SNIFFING == 'enabled' %}
add_header X-Content-Type-Options nosniff;
{% endif %}
{% if XSS_FILTER == 'enabled' %}
add_header X-XSS-Protection "1; mode=block";
{% endif %}
{% if BROTLI == 'enabled' %}
include /etc/nginx/conf.d/brotli.conf;
{% elif GZIP == 'enabled' %}
include /etc/nginx/conf.d/gzip.conf;
{% endif %}
{% if DOSMITIGATE == 'enabled' %}
include /etc/nginx/conf.d/dos_mitigate.conf;
{% endif %}
{% if AUTH_BASIC == 'enabled' %}
auth_basic "Restricted Content";
auth_basic_user_file {{ HOMEDIR }}/.htpasswds{{ DIFFDIR }}/passwd;
{% endif %}
{% if REDIRECTSTATUS != 'none' and REDIRECT_URL != 'none'  %}
return {{REDIRECTSTATUS}} {{REDIRECT_URL}}{% if APPEND_REQUESTURI == 'enabled' %}$request_uri{% endif %};
{% else %}
{% if MODSECURITY == 'enabled' %}
modsecurity on;
{% endif %}
{% if SET_EXPIRE_STATIC == 'enabled' %}
include /etc/nginx/conf.d/files_with_expire.conf;
{% endif %}
{% if TEST_COOKIE == 'enabled' %}
testcookie on;
{% endif %}
{% if SYMLINK_PROTECTION == 'enabled' %}
disable_symlinks if_not_owner;
{% endif %}

# Allow "Well-Known URIs" as per RFC 5785
location ~* ^/.well-known/ {
allow all;
proxy_send_timeout   90;
proxy_read_timeout   90;

proxy_buffer_size    4k;
proxy_buffers     16 32k;
proxy_busy_buffers_size 64k;
proxy_temp_file_write_size 64k;

proxy_connect_timeout 30s;

proxy_pass   $scheme://{{ APPSERVERIP }}:$cpport;
proxy_set_header   Host   $host;
proxy_set_header   X-Real-IP  $remote_addr;
proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
}
# cPanel internal DCV checks
location ~* ^/[0-9]+\..+\.cpaneldcv$ {
allow all;
proxy_send_timeout   90;
proxy_read_timeout   90;

proxy_buffer_size    4k;
proxy_buffers     16 32k;
proxy_busy_buffers_size 64k;
proxy_temp_file_write_size 64k;

proxy_connect_timeout 30s;

proxy_pass   $scheme://{{ APPSERVERIP }}:$cpport;
proxy_set_header   Host   $host;
proxy_set_header   X-Real-IP  $remote_addr;
proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
}
# Comodo
location ~* "^/[A-F0-9]{32}\.txt$" {
allow all;
proxy_send_timeout   90;
proxy_read_timeout   90;

proxy_buffer_size    4k;
proxy_buffers     16 32k;
proxy_busy_buffers_size 64k;
proxy_temp_file_write_size 64k;

proxy_connect_timeout 30s;

proxy_pass   $scheme://{{ APPSERVERIP }}:$cpport;
proxy_set_header   Host   $host;
proxy_set_header   X-Real-IP  $remote_addr;
proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
}

# Include NAXSI settings
location ^~ /NaxsiRequestDenied {
return 418;
}
# End Include NAXSI settings
# Include any applications in subdirectory
{% for KEY, VALUE in SUBDIRAPPS.iteritems() %}
{% if PASSENGERAPPS[KEY] == 'enabled' %}
location ~ ^/{{ KEY }}(/.*|$) {
{% else %}
location ^~ /{{ KEY }}/ {
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.subinclude;
}
{% endfor %}
# End Include any applications in subdirectory
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.include;
{% endif %}
}
{% endif %}
