
################### Redirects ###################
{% if WWWREDIRECT == "tononwww" %}
server {
listen  {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
{% if SSL %}
listen  {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLCRT }};
{% if OCSPSTAPLE %}
ssl_stapling on;
{% endif %}
{% endif %}
server_name www.{{ MAINDOMAINNAME }};

# Allow "Well-Known URIs" as per RFC 5785
location /cpanelwebcall/ {
proxy_pass http://127.0.0.1:2082/cpanelwebcall;
}
location ~* ^/.well-known/ {
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
# cPanel internal DCV checks
location ~* ^/[0-9]+\..+\.cpaneldcv$ {
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
# Comodo
location ~* "^/[A-F0-9]{32}\.txt$" {
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
location ~* \.user\.ini$ {
deny all;
}
location ~* php\.ini$ {
deny all;
}
location ~* nginx\.conf$ {
deny all;
}
location ~* \.htaccess$ {
deny all;
}
location ~ /\.git {
deny all;
}
location ~ \.log$ {
deny all;
}
location ~ error_log$ {
deny all;
}


location / {
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://{{ MAINDOMAINNAME }}$request_uri;
{% else %}
return 301 $scheme://{{ MAINDOMAINNAME }}$request_uri;
{% endif %}
}
}
{% endif %}

{% if WWWREDIRECT == "towww" %}
server {
listen  {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
{% if SSL %}
listen  {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLCRT }};
{% if OCSPSTAPLE %}
ssl_stapling on;
{% endif %}
{% endif %}
server_name {{ MAINDOMAINNAME }};

# Allow "Well-Known URIs" as per RFC 5785
location /cpanelwebcall/ {
proxy_pass http://127.0.0.1:2082/cpanelwebcall;
}
location ~* ^/.well-known/ {
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
# cPanel internal DCV checks
location ~* ^/[0-9]+\..+\.cpaneldcv$ {
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
# Comodo
location ~* "^/[A-F0-9]{32}\.txt$" {
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
location ~* \.user\.ini$ {
deny all;
}
location ~* php\.ini$ {
deny all;
}
location ~* nginx\.conf$ {
deny all;
}
location ~* \.htaccess$ {
deny all;
}
location ~ /\.git {
deny all;
}
location ~ \.log$ {
deny all;
}
location ~ error_log$ {
deny all;
}

location / {
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://www.{{ MAINDOMAINNAME }}$request_uri;
{% else %}
return 301 $scheme://www.{{ MAINDOMAINNAME }}$request_uri;
{% endif %}
}
}
{% endif %}

{% if REDIRECTALIASES_LIST %}
{% if REDIRECTALIASES == 'enabled' %}
server {
listen  {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
{% if SSL %}
listen  {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLCRT }};
{% if OCSPSTAPLE %}
ssl_stapling on;
{% endif %}
{% endif %}
server_name {% for DOMAIN in REDIRECTALIASES_LIST %}{{ DOMAIN+" " }}{% endfor %};

# Allow "Well-Known URIs" as per RFC 5785
location /cpanelwebcall/ {
proxy_pass http://127.0.0.1:2082/cpanelwebcall;
}
location ~* ^/.well-known/ {
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
# cPanel internal DCV checks
location ~* ^/[0-9]+\..+\.cpaneldcv$ {
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
# Comodo
location ~* "^/[A-F0-9]{32}\.txt$" {
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
location ~* \.user\.ini$ {
deny all;
}
location ~* php\.ini$ {
deny all;
}
location ~* nginx\.conf$ {
deny all;
}
location ~* \.htaccess$ {
deny all;
}
location ~ /\.git {
deny all;
}
location ~ \.log$ {
deny all;
}
location ~ error_log$ {
deny all;
}

location / {
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://{{ MAINDOMAINNAME }}$request_uri;
{% else %}
return 301 $scheme://{{ MAINDOMAINNAME }}$request_uri;
{% endif %}
}
}
{% endif %}
{% endif %}
################### Redirects ###################
################## NWAF ######################
{% if waf == 'enabled' %}
nwaf_host_enable {% for DOMAIN in DOMAINLIST %}{% if loop.last %}{{ DOMAIN }}{% else %}{{ DOMAIN+"," }}{% endif %}{% endfor %};
{% for item in NEMESIDA_WL %}
WL ID:{{ item[0] }} domain={% for DOMAIN in DOMAINLIST %}{% if loop.last %}{{ DOMAIN }}{% else %}{{ DOMAIN+"," }}{% endif %}{% endfor %} "Z:{{ item[1] }}";
{% endfor %}
{% for item in NEMESIDA_IP_WL %}
nwaf_ip_wl {{ item }} domain={% for DOMAIN in DOMAINLIST %}{% if loop.last %}{{ DOMAIN }}{% else %}{{ DOMAIN+"," }}{% endif %}{% endfor %};
{% endfor %}
{% for item in NEMESIDAIPV6_WL %}
nwaf_ip_wl {{ item }} domain={% for DOMAIN in DOMAINLIST %}{% if loop.last %}{{ DOMAIN }}{% else %}{{ DOMAIN+"," }}{% endif %}{% endfor %};
{% endfor %}
{% endif %}
################## NWAF ######################

################### vhosts ###################
server {
listen    {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
server_name  {% for DOMAIN in DOMAINLIST %}{{ DOMAIN+" " }}{% endfor %};
{% if waf == 'enabled' %}
error_log {{ HOMEDIR }}/logs/nginx_error_log;
{% endif %}
{% if ENABLEACCESSLOG == 'disabled' %}
{% if FOPEN_ACCESSLOG %}
{% if CLUSTER_LOG %}
access_log /var/log/nginx/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=4k flush=5m;
{% else %}
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=4k flush=5m;
{% endif %}
{% else %}
access_log  off;
{% endif %}
{% else %}
{% if FOPEN_ACCESSLOG %}
{% if CLUSTER_LOG %}
access_log /var/log/nginx/{{ CONFIGDOMAINNAME }} combined buffer=4k flush=5m;
access_log /var/log/nginx/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=4k flush=5m;
{% else %}
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }} combined buffer=4k flush=5m;
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=4k flush=5m;
{% endif %}
{% else %}
access_log  off;
{% endif %}
{% endif %}

# Proxy cPanel/WHM URLs
location ~* ^/(?:autodiscover|cgi-bin|cgi-sys|controlpanel|cpanel|kpanel|securecontrolpanel|securecpanel|securewhm|webmail|whm|bandwidth|img-sys|java-sys|pipermail|sys_cpanel|mailman)($|/) {
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
# Allow "Well-Known URIs" as per RFC 5785
location /cpanelwebcall/ {
proxy_pass http://127.0.0.1:2082/cpanelwebcall;
}
location ~* ^/.well-known/ {
{% if TEST_COOKIE == 'enabled' %}testcookie off;{% endif %}
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
# cPanel internal DCV checks
location ~* ^/[0-9]+\..+\.cpaneldcv$ {
{% if TEST_COOKIE == 'enabled' %}testcookie off;{% endif %}
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
# Comodo
location ~* "^/[A-F0-9]{32}\.txt$" {
{% if TEST_COOKIE == 'enabled' %}testcookie off;{% endif %}
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
location ~* \.user\.ini$ {
deny all;
}
location ~* php\.ini$ {
deny all;
}
location ~* nginx\.conf$ {
deny all;
}
location ~* \.htaccess$ {
deny all;
}
location ~ /\.git {
deny all;
}
location ~ \.log$ {
deny all;
}
location ~ error_log$ {
deny all;
}

# Include any applications in subdirectory
{% for KEY, VALUE in SUBDIRAPPS.items() %}
{% if PASSENGERAPPS[KEY] == 'enabled' %}
location ~ ^/{{ KEY }}(/.*|$) {
{% else %}
location ^~ /{{ KEY }} {
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.subconf;
}
{% endfor %}
# End Include any applications in subdirectory

{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
location / {
return 301 https://$host$request_uri;
}
{% else %}
{% if REDIRECTSTATUS != 'none' and REDIRECT_URL != 'none'  %}
location / {
return {{REDIRECTSTATUS}} {{REDIRECT_URL}}{% if APPEND_REQUESTURI == 'enabled' %}$request_uri{% endif %};
}
{% else %}
#{% if PAGESPEED == 'enabled' %}
#{% if PAGESPEED_FILTER == 'CoreFilters' %}
#include /etc/nginx/conf.d/pagespeed.conf;
#{% elif PAGESPEED_FILTER == 'PassThrough' %}
#include /etc/nginx/conf.d/pagespeed_passthrough.conf;
#{% endif %}
#{% endif %}
{% if not OPEN_FILE_CACHE == 'enabled' %}open_file_cache off;{% endif %}
{% if AUTOINDEX == 'enabled' %}autoindex on;{% endif %}
{% if SECURITY_HEADERS == 'enabled' %}
add_header X-Frame-Options SAMEORIGIN;
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block";
{% endif %}
{% if GZIP == 'enabled' %}include /etc/nginx/conf.d/gzip.conf;{% endif %}
{% if DOSMITIGATE == 'enabled' %}include /etc/nginx/conf.d/dos_mitigate.conf;{% endif %}
#{% if MODSECURITY == 'enabled' %}modsecurity on;{% endif %}
{% if TEST_COOKIE == 'enabled' %}testcookie on;{% endif %}
{% if SYMLINK_PROTECTION == 'enabled' %}disable_symlinks if_not_owner;{% endif %}
{% if AUTH_BASIC == 'enabled' %}
auth_basic "Restricted Content";
auth_basic_user_file {{ HOMEDIR }}/.htpasswds{{ DIFFDIR }}/passwd;
{% endif %}
{% if SET_EXPIRE_STATIC == 'enabled' %}include /etc/nginx/conf.d/files_with_expire.conf;{% endif %}
include /etc/nginx/conf.d/ErrorPages.conf;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.include;
{% endif %}
{% endif %}
}

{% if SSL %}
server {
listen    {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen    [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLCRT }};
{% if OCSPSTAPLE %}
ssl_stapling on;
{% endif %}
server_name  {% for DOMAIN in DOMAINLIST %}{{ DOMAIN+" " }}{% endfor %};
{% if waf == 'enabled' %}
error_log {{ HOMEDIR }}/logs/nginx_error_log;
{% endif %}
{% if ENABLEACCESSLOG == 'disabled' %}
{% if FOPEN_ACCESSLOG %}
{% if CLUSTER_LOG %}
access_log /var/log/nginx/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=4k flush=5m;
{% else %}
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=4k flush=5m;
{% endif %}
{% else %}
access_log  off;
{% endif %}
{% else %}
{% if FOPEN_ACCESSLOG %}
{% if CLUSTER_LOG %}
access_log /var/log/nginx/{{ CONFIGDOMAINNAME }}-ssl_log combined buffer=4k flush=5m;
access_log /var/log/nginx/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=4k flush=5m;
{% else %}
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-ssl_log combined buffer=4k flush=5m;
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=4k flush=5m;
{% endif %}
{% else %}
access_log  off;
{% endif %}
{% endif %}

# Proxy cPanel/WHM URLs
location ~* ^/(?:autodiscover|cgi-bin|cgi-sys|controlpanel|cpanel|kpanel|securecontrolpanel|securecpanel|securewhm|webmail|whm|bandwidth|img-sys|java-sys|pipermail|sys_cpanel|mailman)($|/) {
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
# Allow "Well-Known URIs" as per RFC 5785
location /cpanelwebcall/ {
proxy_pass http://127.0.0.1:2082/cpanelwebcall;
}
location ~* ^/.well-known/ {
{% if TEST_COOKIE == 'enabled' %}testcookie off;{% endif %}
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
# cPanel internal DCV checks
location ~* ^/[0-9]+\..+\.cpaneldcv$ {
{% if TEST_COOKIE == 'enabled' %}testcookie off;{% endif %}
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
# Comodo
location ~* "^/[A-F0-9]{32}\.txt$" {
{% if TEST_COOKIE == 'enabled' %}testcookie off;{% endif %}
allow all;
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
location ~* \.user\.ini$ {
deny all;
}
location ~* php\.ini$ {
deny all;
}
location ~* nginx\.conf$ {
deny all;
}
location ~* \.htaccess$ {
deny all;
}
location ~ /\.git {
deny all;
}
location ~ \.log$ {
deny all;
}
location ~ error_log$ {
deny all;
}

# Include any applications in subdirectory
{% for KEY, VALUE in SUBDIRAPPS.items() %}
{% if PASSENGERAPPS[KEY] == 'enabled' %}
location ~ ^/{{ KEY }}(/.*|$) {
{% else %}
location ^~ /{{ KEY }} {
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.subconf;
}
{% endfor %}
# End Include any applications in subdirectory

{% if REDIRECTSTATUS != 'none' and REDIRECT_URL != 'none'  %}
location / {
return {{REDIRECTSTATUS}} {{REDIRECT_URL}}{% if APPEND_REQUESTURI == 'enabled' %}$request_uri{% endif %};
}
{% else %}
#{% if PAGESPEED == 'enabled' %}
#{% if PAGESPEED_FILTER == 'CoreFilters' %}
#include /etc/nginx/conf.d/pagespeed.conf;
#{% elif PAGESPEED_FILTER == 'PassThrough' %}
#include /etc/nginx/conf.d/pagespeed_passthrough.conf;
#{% endif %}
#{% endif %}
{% if GZIP == 'enabled' %}
include /etc/nginx/conf.d/gzip.conf;
{% endif %}
{% if not OPEN_FILE_CACHE == 'enabled' %}open_file_cache off;{% endif %}
{% if AUTOINDEX == 'enabled' %}autoindex on;{% endif %}
{% if SECURITY_HEADERS == 'enabled' %}
add_header X-Frame-Options SAMEORIGIN;
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block";
add_header Strict-Transport-Security "max-age=31536000" always;
{% endif %}
{% if DOSMITIGATE == 'enabled' %}include /etc/nginx/conf.d/dos_mitigate.conf;{% endif %}
#{% if MODSECURITY == 'enabled' %}modsecurity on;{% endif %}
{% if SET_EXPIRE_STATIC == 'enabled' %}include /etc/nginx/conf.d/files_with_expire.conf;{% endif %}
{% if TEST_COOKIE == 'enabled' %}testcookie on;{% endif %}
{% if SYMLINK_PROTECTION == 'enabled' %}disable_symlinks if_not_owner;{% endif %}
{% if AUTH_BASIC == 'enabled' %}
auth_basic "Restricted Content";
auth_basic_user_file {{ HOMEDIR }}/.htpasswds{{ DIFFDIR }}/passwd;
{% endif %}
{% if SET_EXPIRE_STATIC == 'enabled' %}include /etc/nginx/conf.d/files_with_expire.conf;{% endif %}
include /etc/nginx/conf.d/ErrorPages.conf;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.include;
{% endif %}
}
{% endif %}
################### vhosts ###################

################### Proxy Subdomains ###################
{% if DOMAINLIST_PROXY_SUBDOMAIN %}
server {
listen    {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
{% if SSL %}
listen    {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen    [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLCRT }};
{% if OCSPSTAPLE %}
ssl_stapling on;
{% endif %}
{% endif %}
server_name {% for DOMAIN in DOMAINLIST_PROXY_SUBDOMAIN %}{{ "cpanel."+DOMAIN+" " }}{% endfor %} {% for DOMAIN in DOMAINLIST_PROXY_SUBDOMAIN %}{{ "webmail."+DOMAIN+" " }}{% endfor %} {% for DOMAIN in DOMAINLIST_PROXY_SUBDOMAIN %}{{ "whm."+DOMAIN+" " }}{% endfor %} {% for DOMAIN in DOMAINLIST_PROXY_SUBDOMAIN %}{{ "cpcontacts."+DOMAIN+" " }}{% endfor %} {% for DOMAIN in DOMAINLIST %}{{ "cpcalendars."+DOMAIN+" " }}{% endfor %};
location / {
proxy_pass   $scheme://{{ HTTPDIP }}:$cpport;
}
}
{% endif %}
################### Proxy Subdomains ###################
