server {

  listen    CPANELIP:80;
  #CPIPVSIX:80;

  # ServerNames
  server_name  DOMAINLIST;
  access_log access_log /usr/local/apache/domlogs/DOMAINNAME main;
  access_log /usr/local/apache/domlogs/DOMAINNAME-bytes_log bytes_log;
   

  include /etc/nginx/sites-enabled/DOMAINNAME.include;

 }
