# Redirects if any

{% if WWWREDIRECT == "tononwww" %}
server {
listen  {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
{% if SSL %}
listen  {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLKEY }};
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam.pem;
ssl_session_timeout  5m;
{% if OCSP %}
ssl_stapling on;
ssl_stapling_verify on;
ssl_trusted_certificate {{ CPANELCACERT }};
resolver 8.8.8.8 8.8.4.4 valid=300s;
resolver_timeout 5s;
{% endif %}
{% endif %}
server_name www.{{ MAINDOMAINNAME }};
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://{{ MAINDOMAINNAME }}$request_uri;
{% else %}
return 301 $scheme://{{ MAINDOMAINNAME }}$request_uri;
{% endif %}
}
{% endif %}

{% if WWWREDIRECT == "towww" %}
server {
listen  {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
{% if SSL %}
listen  {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLKEY }};
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam.pem;
ssl_session_timeout  5m;
{% if OCSP %}
ssl_stapling on;
ssl_stapling_verify on;
ssl_trusted_certificate {{ CPANELCACERT }};
resolver 8.8.8.8 8.8.4.4 valid=300s;
resolver_timeout 5s;
{% endif %}
{% endif %}
server_name {{ MAINDOMAINNAME }};
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://www.{{ MAINDOMAINNAME }}$request_uri;
{% else %}
return 301 $scheme://www.{{ MAINDOMAINNAME }}$request_uri;
{% endif %}
}
{% endif %}

{% if REDIRECTALIASES == 'enabled' %}
server {
listen  {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
{% if SSL %}
listen  {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLKEY }};
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam.pem;
ssl_session_timeout  5m;
{% if OCSP %}
ssl_stapling on;
ssl_stapling_verify on;
ssl_trusted_certificate {{ CPANELCACERT }};
resolver 8.8.8.8 8.8.4.4 valid=300s;
resolver_timeout 5s;
{% endif %}
{% endif %}
server_name {% for DOMAIN in REDIRECTALIASES_LIST %}{{ DOMAIN+" " }}{% endfor %};
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://{{ MAINDOMAINNAME }}$request_uri;
{% else %}
return 301 $scheme://{{ MAINDOMAINNAME }}$request_uri;
{% endif %}
}
{% endif %}

# The server blocks

server {
listen    {{ CPANELIP }}:80 ;
{% if IPVSIX %}
listen  [{{ CPIPVSIX }}]:80 ;
{% endif %}
server_name  {{ DOMAINLIST }};
{% if ENABLEACCESSLOG == 'disabled' %}
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=32k flush=5m;
{% else %}
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }} combined buffer=32k flush=5m;
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=32k flush=5m;
{% endif %}
{% if REDIRECT_TO_SSL == 'enabled' and SSL %}
return 301 https://$host$request_uri;
{% else %}
{% if PAGESPEED == 'enabled' %}
{% if PAGESPEED_FILTER == 'CoreFilters' %}
include /etc/nginx/conf.d/pagespeed.conf;
{% elif PAGESPEED_FILTER == 'PassThrough' %}
include /etc/nginx/conf.d/pagespeed_passthrough.conf;
{% endif %}
{% endif %}
{% if not OPEN_FILE_CACHE == 'enabled' %}
open_file_cache off;
{% endif %}
{% if AUTOINDEX == 'enabled' %}
autoindex on;
{% endif %}
{% if CLICKJACKING_PROTECT == 'enabled' %}
add_header X-Frame-Options SAMEORIGIN;
{% endif %}
{% if DISABLE_CONTENTTYPE_SNIFFING == 'enabled' %}
add_header X-Content-Type-Options nosniff;
{% endif %}
{% if XSS_FILTER == 'enabled' %}
add_header X-XSS-Protection "1; mode=block";
{% endif %}
{% if CONTENT_SECURITY_POLICY == 'enabled' %}
add_header Content-Security-Policy "script-src 'self' www.google-analytics.com ajax.googleapis.com;";
{% endif %}
{% if GZIP == 'enabled' %}
include /etc/nginx/conf.d/gzip.conf;
{% endif %}
{% if DOSMITIGATE == 'enabled' %}
include /etc/nginx/conf.d/dos_mitigate.conf;
{% endif %}
{% if AUTH_BASIC == 'enabled' %}
auth_basic "Restricted Content";
auth_basic_user_file {{ HOMEDIR }}/.htpasswds{{ DIFFDIR }}/passwd;
{% endif %}
{% if REDIRECTSTATUS != 'none' and REDIRECT_URL != 'none'  %}
return {{REDIRECTSTATUS}} {{REDIRECT_URL}}{% if APPEND_REQUESTURI == 'enabled' %}$request_uri{% endif %};
{% else %}
{% if SET_EXPIRE_STATIC == 'enabled' %}
include /etc/nginx/conf.d/files_with_expire.conf;
{% endif %}
# Include NAXSI settings
location ^~ /NaxsiRequestDenied {
return 418;
}
# End Include NAXSI settings
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.include;
{% endif %}
{% endif %}
}

{% if SSL %}
server {
listen    {{ CPANELIP }}:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% if IPVSIX %}
listen    [{{ CPIPVSIX }}]:443 ssl {% if HTTP2 == 'enabled' %}http2{% endif %} ;
{% endif %}
ssl_certificate {{ CPANELSSLCRT }};
ssl_certificate_key {{ CPANELSSLKEY }};
ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
ssl_prefer_server_ciphers on;
ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_session_cache shared:SSL:10m;
ssl_dhparam /etc/nginx/ssl/dhparam.pem;
ssl_session_timeout  5m;
{% if OCSP %}
ssl_stapling on;
ssl_stapling_verify on;
ssl_trusted_certificate {{ CPANELCACERT }};
resolver 8.8.8.8 8.8.4.4 valid=300s;
resolver_timeout 5s;
{% endif %}
server_name  {{ DOMAINLIST }};
{% if ENABLEACCESSLOG == 'disabled' %}
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=32k flush=5m;
{% else %}
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-ssl_log combined buffer=32k flush=5m;
access_log /usr/local/apache/domlogs/{{ CONFIGDOMAINNAME }}-bytes_log bytes_log buffer=32k flush=5m;
{% endif %}
{% if PAGESPEED == 'enabled' %}
{% if PAGESPEED_FILTER == 'CoreFilters' %}
include /etc/nginx/conf.d/pagespeed.conf;
{% elif PAGESPEED_FILTER == 'PassThrough' %}
include /etc/nginx/conf.d/pagespeed_passthrough.conf;
{% endif %}
{% endif %}
{% if not OPEN_FILE_CACHE == 'enabled' %}
open_file_cache off;
{% endif %}
{% if AUTOINDEX == 'enabled' %}
autoindex on;
{% endif %}
{% if HSTS == 'enabled' %}
add_header Strict-Transport-Security "max-age=31536000" always;
{% endif %}
{% if CLICKJACKING_PROTECT == 'enabled' %}
add_header X-Frame-Options SAMEORIGIN;
{% endif %}
{% if DISABLE_CONTENTTYPE_SNIFFING == 'enabled' %}
add_header X-Content-Type-Options nosniff;
{% endif %}
{% if XSS_FILTER == 'enabled' %}
add_header X-XSS-Protection "1; mode=block";
{% endif %}
{% if CONTENT_SECURITY_POLICY == 'enabled' %}
add_header Content-Security-Policy "script-src 'self' www.google-analytics.com ajax.googleapis.com;";
{% endif %}
{% if BROTLI == 'enabled' %}
include /etc/nginx/conf.d/brotli.conf;
{% elif GZIP == 'enabled' %}
include /etc/nginx/conf.d/gzip.conf;
{% endif %}
{% if DOSMITIGATE == 'enabled' %}
include /etc/nginx/conf.d/dos_mitigate.conf;
{% endif %}
{% if AUTH_BASIC == 'enabled' %}
auth_basic "Restricted Content";
auth_basic_user_file {{ HOMEDIR }}/.htpasswds{{ DIFFDIR }}/passwd;
{% endif %}
{% if REDIRECTSTATUS != 'none' and REDIRECT_URL != 'none'  %}
return {{REDIRECTSTATUS}} {{REDIRECT_URL}}{% if APPEND_REQUESTURI == 'enabled' %}$request_uri{% endif %};
{% else %}
{% if SET_EXPIRE_STATIC == 'enabled' %}
include /etc/nginx/conf.d/files_with_expire.conf;
{% endif %}
# Include NAXSI settings
location ^~ /NaxsiRequestDenied {
return 418;
}
# End Include NAXSI settings
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.include;
{% endif %}
}
{% endif %}
