#Wordpress with redis cache + 10 Minute automatic cache purge

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

location / {
try_files $uri $uri/ /index.php?$args;
}

location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}

location = /wp-login.php {
limit_req   zone=one  burst=1 nodelay;
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}

location = /xmlrpc.php {
limit_req   zone=one  burst=1 nodelay;
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}


location /redis-fetch {
internal  ;
sendfile off;
aio off;
set  $redis_key $args;
redis_pass  127.0.0.1:6379;
}

location /redis-store {
internal;
sendfile off;
aio off;
set_unescape_uri $key $arg_key ;
redis2_query  set $key $echo_request_body;
redis2_query expire $key 600;
redis2_pass  127.0.0.1:6379;
}

location ~ [^/]\.php(/|$) {
fastcgi_split_path_info ^(.+?\.php)(/.*)$;
if (!-f $document_root$fastcgi_script_name) {
return 404;
}

sendfile off;
aio off;

set $key "$ua_device$scheme$request_method$host$request_uri";

srcache_fetch_skip "$query_string$wpcookienocache$wpurinocache";
srcache_store_skip "$query_string$wpcookienocache$wpurinocache";

srcache_response_cache_control off;
srcache_request_cache_control off;

set_escape_uri $escaped_key $key;

srcache_fetch GET /redis-fetch $key;
srcache_store PUT /redis-store key=$escaped_key;

more_set_headers 'X-Cache $srcache_fetch_status';
more_set_headers 'X-Cache-2 $srcache_store_status';

include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:{{ SOCKETFILE }};
}
