#Wordpress with redis cache + 10 Minute automatic cache purge

root {{ DOCUMENTROOT }};
index index.php index.html index.htm;

# Include any applications in subdirectory
{% for KEY, VALUE in SUBDIRAPPS.iteritems() %}
location ^~ /{{ KEY }}/ {
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.manualconfig*;
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}_{{ VALUE }}.subinclude;
}
{% endfor %}
# End Include any applications in subdirectory

location / {

# Include NAXSI settings
{% if NAXSI == 'enabled' %}
{% if NAXSIMODE == 'learn' %}
include /etc/nginx/conf.d/naxsi_learn.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
{% elif NAXSIMODE == 'active' %}
include /etc/nginx/conf.d/naxsi_active.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.naxsi.wl*;
{% endif %}
# End Include NAXSI settings

try_files $uri $uri/ /index.php?$args;
}

location /redis-fetch {
internal;
set  $redis_key $args;
# Assuming redis is bound to port 6379
redis_pass  127.0.0.1:6379;
}

location /redis-store {
internal;
sendfile off;
aio off;
set_unescape_uri $key $arg_key ;
redis2_query  set $key $echo_request_body;
redis2_query expire $key 600;
redis2_pass  127.0.0.1:6379;
}

location ~ \.php$ {

# Include NAXSI settings
{% if NAXSI == 'enabled' %}
{% if NAXSIMODE == 'learn' %}
include /etc/nginx/conf.d/naxsi_learn.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
{% elif NAXSIMODE == 'active' %}
include /etc/nginx/conf.d/naxsi_active.rules;
{% if NAXSI_WHITELIST == 'wordpress' %}
include /etc/nginx/naxsi.d/wordpress.rules;
{% endif %}
{% if NAXSI_WHITELIST == 'drupal' %}
include /etc/nginx/naxsi.d/drupal.rules;
{% endif %}
{% endif %}
include /etc/nginx/sites-enabled/{{ CONFIGDOMAINNAME }}.naxsi.wl*;
{% endif %}
# End Include NAXSI settings


sendfile off;
aio off;

set $key "$ua_device$scheme$request_method$host$request_uri";
try_files $uri =404;

srcache_fetch_skip "$query_string$wpcookienocache$wpurinocache";
srcache_store_skip "$query_string$wpcookienocache$wpurinocache";

srcache_response_cache_control off;
srcache_request_cache_control off;

set_escape_uri $escaped_key $key;

srcache_fetch GET /redis-fetch $key;
srcache_store PUT /redis-store key=$escaped_key;

more_set_headers 'X-Cache $srcache_fetch_status';
more_set_headers 'X-Cache-2 $srcache_store_status';

include /etc/nginx/fastcgi_params*;
{% if CHROOT_PHPFPM %}
fastcgi_param  SCRIPT_FILENAME    {{ DIFFDIR }}$fastcgi_script_name;
fastcgi_param  DOCUMENT_ROOT      {{ DIFFDIR }};
{% endif %}
fastcgi_pass unix:{{ SOCKETFILE }};
}

location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
{% if CHROOT_PHPFPM %}
fastcgi_param  SCRIPT_FILENAME    {{ DIFFDIR }}$fastcgi_script_name;
fastcgi_param  DOCUMENT_ROOT      {{ DIFFDIR }};
{% endif %}
fastcgi_pass unix:{{ SOCKETFILE }};
}

location = /wp-login.php {
limit_req   zone=one  burst=1 nodelay;
include /etc/nginx/fastcgi_params*;
{% if CHROOT_PHPFPM %}
fastcgi_param  SCRIPT_FILENAME    {{ DIFFDIR }}$fastcgi_script_name;
fastcgi_param  DOCUMENT_ROOT      {{ DIFFDIR }};
{% endif %}
fastcgi_pass unix:{{ SOCKETFILE }};
}

include /etc/nginx/conf.d/cpanel_services.conf;
