body {
  background-color: #F1F1F8;
  color: #3D4366;
  font-family: 'Poppins', sans-serif; }

#main-header {
  background-color: #FFFFFF;
  padding: 0.5rem 1rem 0.1rem; }
  #main-header h3 {
    margin: 0; }
  #main-header img {
    position: relative;
    top: -2px; }
  #main-header .help .fas {
    margin-left: .3rem;
    position: relative;
    top: 1px; }

.breadcrumb {
  background-color: transparent;
  padding: 1.5rem 0 1.2rem;
  margin: 0; }
  .breadcrumb .fas {
    margin-right: 5px; }

.card {
  margin-bottom: 2rem; }
  .card .card-header,
  .card .card-footer {
    color: #777777; }
  .card .card-body .no-gutters .alert {
    padding: .8rem;
    text-align: center;
    border-radius: 0;
    margin: 0;
    width: 100%; }
    .card .card-body .no-gutters .alert.alert-light {
      border-color: #EEEEEE; }
    .card .card-body .no-gutters .alert [class*='fa'] {
      margin-right: .15rem;
      text-align: left;
      min-width: 1.6rem; }
    .card .card-body .no-gutters .alert.btn {
      margin-top: 0; }
  .card .card-body .no-gutters [class*='col-']:nth-child(odd) .alert-light {
    text-align: left; }
  .card .card-body .form {
    margin-bottom: 0; }
    .card .card-body .form .btn.btn-info {
      display: block;
      margin-top: 0;
      width: 100%; }
    .card .card-body .form .input-group {
      margin-bottom: 1rem; }
  .card .card-body samp {
    display: block;
    margin-top: 1.5rem; }

a,
.btn {
  transition: all 0.5s ease 0s; }

a {
  color: #25AAE1; }
  a:hover,
  a:active,
  a:focus {
    color: #1a8bb9;
    outline: none;
    text-decoration: none; }

.btn-primary,
.btn-default {
  background-color: #25AAE1;
  border-color: #25AAE1; }
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:focus,
  .btn-default:hover,
  .btn-default:active,
  .btn-default:focus {
    background-color: #1d9bd0;
    border-color: #1d9bd0; }
  .btn-primary:focus,
  .btn-default:focus {
    color: #FFFFFF; }

.btn-outline-primary,
.btn-outline-default {
  border-color: #25AAE1;
  color: #25AAE1; }
  .btn-outline-primary:hover,
  .btn-outline-primary:active,
  .btn-outline-primary:focus,
  .btn-outline-default:hover,
  .btn-outline-default:active,
  .btn-outline-default:focus {
    background-color: #1d9bd0;
    border-color: #1d9bd0; }
  .btn-outline-primary:focus,
  .btn-outline-default:focus {
    color: #FFFFFF; }

.btn-group {
  margin: .5rem 0; }
  .btn-group .btn {
    margin-top: 0;
    cursor: pointer; }

.input-group-prepend-min .input-group-text {
  min-width: 11rem; }

.input-group-inline {
  width: inherit;
  float: left;
  margin: 0 1rem 1rem 0; }

.btn-light {
  background-color: #E9ECEF;
  border-color: #CED4DA; }
  .btn-light.active {
    background-color: #25AAE1 !important;
    border-color: #25AAE1 !important;
    color: #FFFFFF !important; }

.btn-not-installed {
  margin: .5rem 0; }

.btn-2 .input-group-append form .btn-outline-primary {
  border-radius: 0;
  border-right: none; }

.btn-2 .input-group-append form .btn-outline-danger {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.btn-2 .input-group-prepend,
.btn-2 .input-group-apend {
  flex: 1 1 auto; }
  .btn-2 .input-group-prepend .input-group-text,
  .btn-2 .input-group-apend .input-group-text {
    width: 100%; }

.input-group-append > form {
  display: inherit; }

.btn-ajax .spinner-grow,
.btn-ajax-slow .spinner-grow {
  position: relative;
  top: -0.2rem;
  margin-right: 0.5rem; }

h6.label-default {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2rem; }
  h6.label-default:first-child {
    margin-top: 1rem; }

.hidden {
  display: none; }

#loader {
  vertical-align: middle;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: fixed;
  z-index: 10000;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); }
  #loader > .fas {
    font-size: 5rem;
    color: #FFFFFF;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%); }

.modal .modal-body {
  text-align: center; }
  .modal .modal-body p:last-child {
    margin-bottom: 0; }
  .modal .modal-body .fa-thumbs-up,
  .modal .modal-body .fa-exclamation {
    font-size: 6rem;
    display: block;
    text-align: center;
    margin: 0.6rem 0 2rem 0; }
