{% for host in groups['ndeployslaves'] %}
/opt/nDeploy/scripts/update_cluster_ipmap.py ndeploy_cluster {{ hostvars[host]['ansible_nodename'] }} ipmap {{ ansible_default_ipv4.address }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}
/opt/nDeploy/scripts/update_cluster_ipmap.py ndeploy_cluster {{ hostvars[host]['ansible_nodename'] }} dnsmap {{ ansible_default_ipv4.address }} {{ hostvars[host]['mainip'] }}
{% endfor %}
{% for host in groups['ndeploymaster'] %}
/opt/nDeploy/scripts/update_cluster_ipmap.py ndeploy_master {{ hostvars[host]['ansible_nodename'] }} mainip {{ hostvars[host]['mainip'] }} na
/opt/nDeploy/scripts/update_cluster_ipmap.py ndeploy_master {{ hostvars[host]['ansible_nodename'] }} dnsmap {{ ansible_default_ipv4.address }} ip0
{% endfor %}
