[Unit]
Description=nginx-nDeploy - high performance web server
Documentation=http://nginx.org/en/docs/
After=network.target remote-fs.target nss-lookup.target network-online.target ipaliases.service

[Service]
Type=forking
PIDFile=/var/run/nginx.pid
ExecStartPre=/usr/sbin/sysctl -w net.core.somaxconn=16384
ExecStartPre=/usr/sbin/sysctl -w net.core.netdev_max_backlog=16384
ExecStartPre=/usr/sbin/nginx-debug -t -c /etc/nginx/nginx_debug.conf
ExecStart=/usr/sbin/nginx-debug -c /etc/nginx/nginx_debug.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
