SET GLOBAL gtid_slave_pos = "{{ GTIDPOS.stdout }}";
CHANGE MASTER TO MASTER_HOST='{{ hostvars[groups['ndeploymaster'][0]]['dbip'] }}', MASTER_USER='maxscale',MASTER_PASSWORD={{ MYSQLPASS }}, MASTER_SSL=1, MASTER_PORT=13306;
START SLAVE;
RESET MASTER;
