[Unit]
Description=nDeploy Backends
After=network.target remote-fs.target nss-lookup.target
 
[Service]
Type=forking
ExecStart=/opt/nDeploy/scripts/init_backends.py start
ExecStop=/opt/nDeploy/scripts/init_backends.py stop
User=root
Group=root
TimeoutSec=300
StandardOutput=tty
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target
