#Generate CA cert and key
openssl genrsa 2048 > /etc/mysql-ssl/ca-key.pem
openssl req -sha256 -new -x509 -subj "/C=US/ST=Oregon/L=Portland/O=IT/CN=ca-{{ ansible_fqdn }}" -nodes -days 3650 -key /etc/mysql-ssl/ca-key.pem > /etc/mysql-ssl/ca-cert.pem

# Generate the server key and csr
openssl req -sha256  -newkey rsa:2048 -days 3650  -subj "/C=US/ST=Oregon/L=Portland/O=IT/CN=server-{{ ansible_fqdn }}" -nodes -keyout /etc/mysql-ssl/server-key.pem > /etc/mysql-ssl/server-req.pem
openssl rsa -in /etc/mysql-ssl/server-key.pem -out /etc/mysql-ssl/server-key.pem

#Generate server cert
openssl x509 -sha256 -req -in /etc/mysql-ssl/server-req.pem -days 3650 -CA /etc/mysql-ssl/ca-cert.pem -CAkey /etc/mysql-ssl/ca-key.pem -set_serial 01 > /etc/mysql-ssl/server-cert.pem

#Generate the client key and csr
openssl req -sha256 -newkey rsa:2048 -days 3650 -subj "/C=US/ST=Oregon/L=Portland/O=IT/CN=client-{{ ansible_fqdn }}" -nodes -keyout /etc/mysql-ssl/client-key.pem > /etc/mysql-ssl/client-req.pem
openssl rsa -in /etc/mysql-ssl/client-key.pem -out /etc/mysql-ssl/client-key.pem

#Generate client cert
openssl x509 -sha256 -req -in /etc/mysql-ssl/client-req.pem -days 3650 -CA /etc/mysql-ssl/ca-cert.pem -CAkey /etc/mysql-ssl/ca-key.pem -set_serial 01 > /etc/mysql-ssl/client-cert.pem
