# Unison preferences file
root = /{{ item[0] }}
root = ssh://root@{{ item[0] }}:{{ hostvars[item][1]['ansible_port'] }}//{{ item[0] }}
ignore = Path virtfs
ignore = Path cpanelsolr
ignore = Path clamav
ignore = Path */mail
ignore = Path */cache
ignore = Path */softaculous_backups
ignore = Path */cpanelbranding
ignore = Path */perl5
ignore = Path */.cpanel
ignore = Path */.cphorde
ignore = Path */.cagefs
ignore = Path */.MirrorSearch
ignore = Path */.spamassassin
ignore = Path */.sqmaildata
ignore = Path */.trash
ignore = Path */.fantasticodata
ignore = Path */rvadmin
ignore = Path */cpanelbranding
ignore = Path */.cpaddons
ignore = Path */.cl.selector
ignore = Path */tmp/analog
ignore = Path */tmp/awstats
ignore = Path */tmp/cpbandwidth
ignore = Path */tmp/horde
ignore = Path */tmp/logaholic
ignore = Path */tmp/webalizer
ignore = Path */tmp/webalizerftp
ignore = Path */public_ftp
ignore = Path .cpanm
ignore = Path .cpan
ignore = Path .cpcpan
ignore = Path cpeasyapache
ignore = Path cprestore
ignore = Path cPanelInstall
ignore = Name *.log
ignore = Name *_log
ignore = Name *.tmp
ignore = Name .bash_*
ignore = Name .*quota
ignore = Name .rv*
ignore = Name hhvm.*
ignore = Name */cache
batch = true
auto = true
repeat = 5
fastcheck=true
group=true
owner=true
silent=true
times=false
dumbtty=true
maxerrors=1024
prefer = /{{ item[0] }}
servercmd = /usr/bin/nice -n 19 /usr/bin/ionice -c3 /usr/bin/unison
log=false
logfile = /var/log/unison-{{ item[0] }}-{{ item[1] }}.log
