# Unison preferences file
root = /{{ item[0] }}
root = ssh://root@{{ item[1] }}:{{ hostvars[item.1]['ansible_port'] }}//{{ item[0] }}
ignore = Path virtfs
ignore = Path cpanelsolr
ignore = Path clamav
ignore = Path crossbox
ignore = Path crossboxclamav
ignore = Path crossboxcdc
ignore = Path crossboxcoturn
ignore = Path crossboxdata
ignore = Path crossboxdovecot
ignore = Path crossboxexim
ignore = Path crossboxmariadb
ignore = Path crossboxnginx
ignore = Path crossboxnull
ignore = Path crossboxopendkim
ignore = Path crossboxredis
ignore = Path crossboxrspamd
ignore = Path crossboxsensetive
ignore = Path crossboxshared
ignore = Path crossboxunderpriv
ignore = Path crossboxuwsgi
ignore = Path lscache
ignore = Path */lscache
ignore = Path */magicspam
ignore = Path */CrossBox
ignore = Path */mail
ignore = Path */softaculous_backups
ignore = Path */cpanelbranding
ignore = Path */perl5
ignore = Path */.softaculous
ignore = Path */.cpanel
ignore = Path */.cl.selector
ignore = Path */.cphorde
ignore = Path */.cagefs
ignore = Path */.jbm
ignore = Path */.MirrorSearch
ignore = Path */.spamassassin
ignore = Path */.softaculous
ignore = Path */.sqmaildata
ignore = Path */.trash
ignore = Path */.fantasticodata
ignore = Path */.razor
ignore = Path */rvadmin
ignore = Path */cpanelbranding
ignore = Path */.cpaddons
ignore = Path */.cl.selector
ignore = Path */tmp/analog
ignore = Path */tmp/awstats
ignore = Path */tmp/cpbandwidth
ignore = Path */tmp/horde
ignore = Path */tmp/logaholic
ignore = Path */tmp/webalizer
ignore = Path */tmp/webalizerftp
ignore = Path */public_ftp
ignore = Path .cpanm
ignore = Path .cpan
ignore = Path .cpcpan
ignore = Path cpeasyapache
ignore = Path cprestore
ignore = Path cPanelInstall
ignore = Regex .*/cache/.*
ignore = Regex .*/wp-content/cache/.*
ignore = Regex .*/wp-content/et-cache/.*
ignore = Regex .*/wp-content/wflogs/.*
ignore = Regex .*/var/page_cache/.*
ignore = Name *.log
ignore = Name *_log
ignore = Name *.tmp
ignore = Name .bash_*
ignore = Name .*quota
ignore = Name .rv*
ignore = Name hhvm.*
batch = true
auto = true
repeat = 5
fastcheck=true
watch=false
group=true
owner=true
numericids=false
silent=true
times=false
dumbtty=true
maxerrors=1024
prefer = /{{ item[0] }}
servercmd = /usr/bin/nice -n 19 /usr/bin/ionice -c3 /usr/bin/unison
log=false
logfile = /var/log/unison-{{ item[0] }}_{{ item[1] }}.log
