# Unison preferences file
root = /var/cpanel/php/sessions
root = ssh://root@{{ item }}:{{ hostvars[item]['ansible_port'] }}//var/cpanel/php/sessions
batch = true
auto = true
repeat = 5
fastcheck=true
watch=false
group=true
owner=true
silent=true
times=false
dumbtty=true
maxerrors=1024
prefer = /var/cpanel/php/sessions
servercmd = /usr/bin/nice -n 19 /usr/bin/ionice -c3 /usr/bin/unison
log=false
logfile = /var/log/unison-phpsessions_{{ item }}.log
