[maxscale]
threads=2
auth_read_timeout=5

# cPanel Master
[server1]
type=server
address={{ hostvars[groups['ndeploymaster'][0]]['dbip'] }}
port=13306
protocol=MariaDBBackend
ssl=required
ssl_version=MAX
ssl_ca_cert=/etc/mysql-ssl/ca-cert.pem
ssl_cert=/etc/mysql-ssl/client-cert.pem
ssl_key=/etc/mysql-ssl/client-key.pem
persistpoolmax=100
persistmaxtime=3600

# DBSlave
[server2]
type=server
address={{ hostvars[groups['ndeploydbslave'][0]]['dbip'] }}
port=13306
protocol=MariaDBBackend
ssl=required
ssl_version=MAX
ssl_ca_cert=/etc/mysql-ssl/ca-cert.pem
ssl_cert=/etc/mysql-ssl/client-cert.pem
ssl_key=/etc/mysql-ssl/client-key.pem
persistpoolmax=100
persistmaxtime=3600


# Slave
[server3]
type=server
address={{ dbip }}
port=13306
protocol=MariaDBBackend
ssl=required
ssl_version=MAX
ssl_ca_cert=/etc/mysql-ssl/ca-cert.pem
ssl_cert=/etc/mysql-ssl/client-cert.pem
ssl_key=/etc/mysql-ssl/client-key.pem
persistpoolmax=100
persistmaxtime=3600

[MySQL-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2,server3
user=maxscale
password={{ MAXSCALEPASS }}
failcount=1
script=/var/lib/maxscale/failover.sh $EVENT
events=master_down,new_slave

[XtendWeb]
type=service
{% if dbmode == 'rwsplit' %}
router=readwritesplit
master_failure_mode=fail_on_write
use_sql_variables_in=master
connection_keepalive=600
master_reconnection=true
slave_selection_criteria=ADAPTIVE_ROUTING
{% else %}
router=readconnroute
router_options=master
{% endif %}
servers=server1,server2,server3
user=maxscale
password={{ MAXSCALEPASS }}
connection_timeout=600
max_connections=1024
auth_all_servers=false

[Read-Write-ListenerPort]
type=listener
service=XtendWeb
protocol=MariaDBClient
address=127.0.0.1
port=3306

[Read-Write-ListenerSocket]
type=listener
service=XtendWeb
protocol=MariaDBClient
socket=/var/lib/maxscale/maxscale_mysql.sock
