[maxscale]
threads=1
auth_read_timeout=5

#dbslave
[server1]
type=server
address={{ hostvars[groups['ndeploydbslave'][0]]['mainip'] }}
port=13306
protocol=MariaDBBackend
ssl=required
ssl_version=MAX
ssl_ca_cert=/etc/mysql-ssl/ca-cert.pem
ssl_cert=/etc/mysql-ssl/client-cert.pem
ssl_key=/etc/mysql-ssl/client-key.pem
persistpoolmax=100
persistmaxtime=3600

#master
[server2]
type=server
address={{ hostvars[groups['ndeploymaster'][0]]['mainip'] }}
port=13306
protocol=MariaDBBackend
ssl=required
ssl_version=MAX
ssl_ca_cert=/etc/mysql-ssl/ca-cert.pem
ssl_cert=/etc/mysql-ssl/client-cert.pem
ssl_key=/etc/mysql-ssl/client-key.pem
persistpoolmax=100
persistmaxtime=3600

#thisserver
[server3]
type=server
address=127.0.0.1
port=13306
protocol=MariaDBBackend
ssl=required
ssl_version=MAX
ssl_ca_cert=/etc/mysql-ssl/ca-cert.pem
ssl_cert=/etc/mysql-ssl/client-cert.pem
ssl_key=/etc/mysql-ssl/client-key.pem
persistpoolmax=100
persistmaxtime=3600


[MySQL-Monitor]
type=monitor
module=mariadbmon
detect_replication_lag=1
servers=server3,server2,server1
user=maxscale
passwd={{ MAXSCALEPASS }}
monitor_interval=10000

[XtendWeb]
type=service
router=readwritesplit
servers=server3,server2,server1
user=maxscale
passwd={{ MAXSCALEPASS }}
connection_timeout=60
max_connections=500
#router_options=master_accept_reads=true

[MaxAdmin-Service]
type=service
router=cli


[Read-Write-ListenerPort]
type=listener
service=XtendWeb
protocol=MariaDBClient
address=127.0.0.1
port=3306

[Read-Write-ListenerSocket]
type=listener
service=XtendWeb
protocol=MariaDBClient
socket=/var/lib/maxscale/maxscale_mysql.sock

[MaxAdmin-Listener]
type=listener
service=MaxAdmin Service
protocol=maxscaled
socket=default
