{% for host in groups['ndeploymaster'] %}
{{ host }}
{{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}
{% for host in groups['ndeployslaves'] %}
{{ host }}
{{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}
