body {
	background: #E6E6E6;
}

a {
	color: #2B6DA9;
	transition: all 0.5s ease 0s;
}

a:hover,
a:active,
a:focus {
	color: #075A8B;
	outline: none;
	text-decoration: none;
}

.btn-primary {
	background-color: #2B6DA9;
	border-color: #2B6DA9;
	transition: all 0.5s ease 0s;
}

.btn-top {
	margin-top: 15px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: #075A8B;
	border-color: #075A8B;
}

#main-container {
	margin-top: 20px;
	margin-bottom: 50px;
}

.logo {
	margin: 20px auto;
}

.logo a {
	display: inline-block;
}

.logo .glyphicon {
	font-size: 50px;
}

select {
	margin-right: 10px;
	position: relative;
	top: 3px;
}

kbd {
	display: inline-block;
	margin-top: 10px;
}

.list-group-item kbd {
	margin-top: 0;
}

.panel .form-inline {
	margin-bottom: 0;
}

.panel .glyphicon {
	top: 4px;
	margin: 0 7px;
}

#toggle-accordion {
	display: block;
	text-align: right;
	margin-bottom: 5px;
	text-transform: lowercase;
}

#accordion .panel-heading {
	text-transform: uppercase;
}

.panel-group .panel-footer {
	margin-top: 7px;
}

.desc {
	margin-bottom: 20px;
}

.last {
	margin-bottom: 0;
}

.log {
	text-align: left !important;
}

.log li {
	margin-bottom: 10px;
}

.log li:last-child {
	margin-bottom: 0
}

.radio {
	margin: 0 5px;
}

.radio input {
	margin-right: 5px;
}

.alert-top {
	margin-top: 20px;
}

.alert-btm {
	margin-bottom: 0;
}

.panel .panel select {
	width: 100%;
}

.panel-body .form-group:nth-child(1):last-child,
.panel-body .form-group:last-child {
	margin-bottom: 0;
}

.icon-box .glyphicon {
	font-size: 30px;
	display: block;
	margin-bottom: 10px;
}

.glyphicon-option-vertical {
	position: relative;
	top: 3px;
	margin: 0 10px;
}

.btn-primary {
	min-width: 100px;
	text-transform: uppercase;
}

.col-sm-6 .panel-title {
	text-transform: uppercase;
}

.app-status {
	font-size: 18px;
}

.app-status .label {
	display: inline-block;
	margin-bottom: 10px;
}

#config .col-sm-6 .btn-primary {
	width: 100%;
}

#config .col-sm-6 .label {
	font-size: 14px;
	text-align: right;
	padding: 15px;
	display: block;
	border-radius: 0;
}

#config .list-group-item {
	padding: 0;
}

#config .list-group-item .row {
	margin: 0;
}

#config .list-group-item .col-sm-6:first-child {
	padding: 0;
}

.config-save .list-group-item .col-sm-6:last-child {
	padding: 0;
}

.config-save .list-group-item .col-sm-6:last-child .label {
	text-align: left !important;
}

#config .list-group-item .col-radio {
	padding: 10px !important;
}

.config-save .list-group-item .col-sm-6:first-child {
	text-align: right;
	line-height: 24px;
}

#config form .btn {
	width: 100%;
	margin: 10px 0;
}

#config form .input-group-btn .btn {
	margin: 0;
	min-width: 60px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#config .col-sm-6 > .form-group > .input-group > .form-control {
	text-align: left;
}

#config form {
	margin: 0;
}