settings {
logfile = "/var/log/lsyncd.log",
statusFile = "/var/log/lsyncd.status",
maxDelays = 15,
}
{% for host in groups['ndeployslaves'] %}
u{{ host | checksum }} = {
maxProcesses = 1,
delay = 15,
onAttrib = "export HOME=/root;/usr/bin/unison {{ host }}",
onCreate = "export HOME=/root;/usr/bin/unison {{ host }}",
onDelete = "export HOME=/root;/usr/bin/unison {{ host }}",
onModify = "export HOME=/root;/usr/bin/unison {{ host }}",
onMove = "export HOME=/root;/usr/bin/unison {{ host }}",
exitcodes = {[0] = "ok", [1] = "ok", [2] = "ok", [3] = "ok"}
}

sync{% raw %}{{% endraw %}u{{ host | checksum }}, source="/home"}
{% endfor %}
